* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
[v-cloak] {
  display: none;
}
.nav-left {
  width: 220px;
  height: 100%;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  background: #333;
}
.nav-left .nav-box > li {
  transition: all 1.5s;
}
.nav-left .nav-box > li:hover {
  opacity: 0.8;
  background: #000;
  transition: all 1.5s;
}
.nav-left .logon {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.nav-left .logon img {
  width: 80%;
  display: inline-block;
}
.nav-left .left-box {
  height: auto;
  text-align: left;
  user-select: none;
  cursor: pointer;
}
.nav-left .left-box .list-title {
  height: 40px;
  line-height: 40px;
  color: #fff;
  position: relative;
}
.nav-left .left-box .list-title i.q {
  margin: 0 15px 0 20px;
}
.nav-left .left-box .list-title i.h {
  position: absolute;
  right: 7px;
  top: 0;
}
.nav-left .left-box .list-title.cur {
  background: #000;
}
.nav-left .left-box .box.active {
  display: block;
}
.nav-left .left-box .box {
  display: none;
}
.nav-left .left-box .box .list.list-active {
  background: #009688;
}
.nav-left .left-box .box .list {
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #000;
  padding-left: 2px;
}
.nav-left .left-box .box .list:hover {
  background: #009688;
  transition: all 1s;
}
.nav-left .left-box .box .list i {
  margin: 0 0px 0 20px;
}
.nav-left .left-box .box .list a {
  color: #fff;
  display: inline-block;
  height: 100%;
  width: 135px;
  padding-left: 10px;
}
.userSet {
  cursor: pointer;
}
.userSet > div {
  transition: all 0.5s;
  border: 1px solid #009688;
  border-radius: 3.5px;
  width: 120px;
  position: absolute;
  z-index: 5;
  right: 15px;
  top: 40px;
  background: #fff;
  text-align: center;
  padding: 10px 10px;
  line-height: 24px;
  display: none;
}
.userSet > div:hover {
  background: #009688;
  color: #fff;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.app {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
}
[v-cloak] {
  display: none;
}
.search-box {
  padding: 20px 10px 10px 10px;
}
.search-box .layui-form-item {
  line-height: 30px;
}
.search-box .layui-form-item select {
  height: 30px;
  padding: 0 15px;
  margin-right: 25px;
}
.search-box .layui-form-item input {
  height: 30px;
  padding: 0 5px;
}
.search-box .layui-form-item button.search {
  width: 80px;
  margin-left: 10px;
}
.mian-content {
  padding-left: 235px;
  min-height: 100%;
  background: #f5f5f5;
  padding-bottom: 60px;
}
.mian-content .topNav {
  line-height: 60px;
  background: #fff;
}
.mian-content .topNav i.layui-icon {
  cursor: pointer;
  width: 60px;
  font-size: 28px;
  margin-right: 20px;
}
.mian-content .topNav span a {
  font-size: 16px;
  color: #222;
}
.mian-content .topNav i,
.mian-content .topNav span,
.mian-content .topNav a {
  vertical-align: middle;
}
.mian-content .topNav .ul-set {
  background: #222;
  color: #fff;
}
.mian-content .topNav .ul-set li:hover {
  background: #009688;
  transition: all 0.3s;
}
.mian-content .right-box .data-table {
  padding: 20px 20px;
}
.operate-table {
  margin: 10px 10px;
  background: #fff;
  padding: 10px 10px;
}
.search-box {
  background: #fff;
  margin: 10px 10px;
}
.search-box input {
  margin-right: 18px;
}
.page {
  text-align: center;
  padding: 10px 0;
}
.page button {
  margin-right: 5px;
}
.data-table {
  background: #fff;
  margin: 10px 10px;
}
.data-table .qx {
  width: 50px;
  height: 32px;
  border: none;
  color: #fff;
  background: #009688;
  border-radius: 5px;
  cursor: pointer;
}
.data-table table,
.data-table th {
  text-align: center !important;
}
.data-table th {
  font-weight: 800 !important;
}
.data-table td input {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.data-table td img.person-img {
  cursor: pointer;
  margin-left: 10px;
}
.userinfo {
  position: fixed;
  right: -602px;
  top: 100px;
  width: 600px;
  padding-bottom: 40px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid brown;
}
.userinfo h2 {
  text-align: center;
  font-size: 25px;
  line-height: 65px;
  font-weight: 800;
  letter-spacing: 1px;
  position: relative;
}
.userinfo h2 i {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.userinfo li {
  line-height: 34px;
  padding-left: 30px;
  font-size: 18px;
}
.userinfo li span.y {
  display: inline-block;
  min-width: 130px;
  text-align: right;
  margin-right: 5px;
}
