.search button{
	width: 100px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	background-color: #ff2738;
	margin: 20px 5px;
}


/*表格内容*/
.tab-box table{
	width: 100%;
	border: none;
	text-align: center;
}
.tab-box table,.tab-box tr,.tab-box th,.tab-box td{
	border: none;
}
.tab-box table th{
	height: 51px;
	background-color: #e8ebff;
}
.tab-box table tr{
	height: 42px;
	width: 100%;
}
.tab-box table td{
	border-bottom: 1px solid #CCCCCC;
}
.tab-box table td a{
	color: #64a0ff;
}
.tab-box table td a:hover{
	color: #ff2c40;
}
.tab-box td{
	position: relative;
}
.tab-box input{
	position: absolute;
	left: 0px;
	top: 24px;
	z-index: 3;
	opacity: 0;
	filter: alphp(opacity=0);
	width: 16px;
	height: 16px;
}
.tab-box td .tg{
	width: 15px;
	height: 15px;
	line-height: 10px;
	text-align: center;
	background: url('../img/chekbox.jpg') no-repeat 1px 1px;
}
.tab-box td .tg img{
	display: none;
}
.nowraps {
	width: 136px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 20px 5px;
}



/*分页和删除操作*/
.pageing {
	height: 72px;
	line-height: 72px;
	margin-bottom: 50px;
}
.pageing .left{
	width: 30%;
}
.pageing .right{
	width: 70%;
	padding-right: 30px;
	box-sizing: border-box;
	text-align: right;
}
.pageing .right i,.pageing .right a,.pageing .right button,.pageing .right span{
	margin: 0px 6px;
	vertical-align: middle;
}
.chek{
	color: #fff;
	background-color: #64a0ff;
}
.pageing .right i,.pageing .right a{
	cursor: pointer;
}
.pageing .right a {
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	display: inline-block;
}
.pageing .right button{
	display: inline-block;
	width: 60px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	background-color: #64a0ff;
}
.pageing .all,.pageing .delete{
	width: 60px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	border: 1px solid #CCCCCC;
	background-color: #fff;
	margin: 0px 5px;
}
.pageing .delete{
	width: 121px;
	background-color: #64a0ff;
	border: none;
	color: #fff;
}
.pageing .bor{
	background-color: #64a0ff;
	border: none;
	color: #fff;
}
/*添加广告主*/
.addPerson{
	width: 500px;
	height: 460px;
	background-color: #fff;	
	position: fixed;
	z-index: 50;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	display: none;
}
.addPerson h3{
	height: 40px;
	line-height: 40px;
	color: #fff;
	background-color: #3183e6;
	padding: 0px 10px;
}
.addPerson h3 i{
	position: relative;
	left: 380px;
	cursor: pointer;
	font-size: 19px;
}
.addPerson form{
	padding: 20px 30px;	
}
.addPerson form input{
	height: 32px;
	width: 260px;
	line-height: 32px;
}
.addPerson form button{
	width: 80px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #fff;
	background-color: #fe0000;
}
.addPerson .dis{
	width: 100%;
	padding: 10px 30px;
	box-sizing: border-box;
}

.personbox {
	padding: 10px 30px;
	box-sizing: border-box;
	width: 100%;
	height: 278px;
	overflow: auto;
	background-color: #f5f5f5;
	position: relative;
}
.personbox li{
	height: 28px;
	line-height: 28px;
	position: relative;
}
.personbox li:hover{
	background-color: #dcdcdc;
}
.personbox li a{
	display: none;
	cursor: pointer;
	color: #0050B3;
}

.personbox li:hover a{
	display: block;
}
.personbox li span{
	display: inline-block;
	height: 100%;
	width: 60%;
}
.personbox .bC,.personbox .qX{
	position: absolute;
	top: 0px;
	height: 28px;
	width: 60px;
	text-align: center;
	line-height: 28px;
	color: #fff;
	display: none;
}
.personbox .bC{
	left: 270px;
	background-color: #fe0000;
}
.personbox .qX{
	left: 340px;
	background-color: #999999;
}
.del{
	margin-right: 15px;
}


/*模态框*/
.motai{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	background-color: #000000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	display: none;
}
/*批量修改状态*/
.ztbox{
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	margin: auto;
	width: 300px;
	height: 150px;
	background-color: #fff;
	line-height: 50px;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	display: none;
}
.ztbox h3{
	width: 100%;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #007DDB;
	padding: 0px 20px;
	box-sizing: border-box;
}
.ztbox .ra{
	margin-right: 30px;
}
.ztbox h3 i{
	position: relative;
	left: 190px;
	cursor: pointer;
}
.btn-box{
	text-align: center;
	text-align: center;
}
.ra{
	text-align: center;
}
.ra span{
	margin-right: 12px;
}
.btn-box button{
	width: 80px;
	height: 34px;
	line-height: 34px;
	letter-spacing: 2px;
	color: #fff;
}
.btn-box button.btn{
	background-color: #F43838;
}
.btn-box button.reset{
	background-color: #007DDB;
}
