// clearfix
.clearfix:after{
  content: ".";
  display:block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.clearfix{
  zoom: 1;
}
.inline-block{
  display: inline-block;
  
}
//
div,p,span,ul,li,table,form,td,th,tr,input,button,label,h1,h2,h3,h4,h5{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: '微软雅黑';
}
// clearfix
.clearfix:after{
  content: ".";
  display:block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.clearfix{
  zoom: 1;
}
.inline-block{
  display: inline-block;
  
}
//
a{
  text-decoration: none;
  color: #222;
}
html,body{
  margin: 0;
  padding: 0;
  background: #fff;
}
body{
  font-size: 14px;
  font-family: '微软雅黑';
}
img,span,a,i,b,input,select,textarea{
  vertical-align: middle;
}

// 弹框
.motai{
  position: fixed;
  z-index: 10000;
  width: 592px;
	height: 394px;
	background-color: #3587e2;
	border-radius: 15px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  display: none;
  .f_close{
    position: absolute;
    top: -35px;
    right: -35px;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    line-height: 35px;
    padding-top: 7.5px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
  }
  h2{
    font-size: 60px;
    color: #fff;
    line-height: 50px;
    padding-top: 31px;
  }
  .f-btn{
    margin-top: 20px;
    a{
      display: inline-block;
      width: 180px;
      height: 50px;
      line-height: 50px;
      background-color: #ffffff;
      border-radius: 25px;
      font-size: 24px;
      margin-left: 10px;
      &:hover{
        background-color: #ffae12;
        color: #fff;
      }
    }
  }
}

.section1,.section2,.section3,.section4,.section5,.section6,.section7,.section8,.section9,.section10{
  .content{
    width: 1200px;
    margin: 0 auto;
  }
}
.app{
  background: #fff;
  
  // 第一屏
  .section1{
    .top{
      height: 156px;
      background: #fff;
      .t-mian{
        width: 1200px;
        margin: 0 auto;
        height: 100%;
        font-size: 36px;
        img{
          margin-top: 29px;
        }
        span{
          display: inline-block;
          line-height: 36px;
        }
        span.right{
          float: right;
          margin-top: 46px;
          color: #fe0000;
        }
        img,span{
          vertical-align: middle;
        }
      }
    }
    .content-box{
      height: 892px;
      text-align: center;
      .m{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #222;
        z-index: 0;
        filter:alpha(opacity=20); /* IE */
        -moz-opacity:0.2; /* 老版Mozilla */
        -khtml-opacity:0.2; /* 老版Safari */
        opacity: 0.2;
      }
      .box{
        position: relative;
        z-index: 10;
      }
      .slide1{
        background: url(../img/1.png) no-repeat;
        padding-top: 180px;
        position: relative;
        p{
          font-size: 78px;
          color: #ffd6a0;
        }
        h2{
          font-size: 124px;
          color: #ffffff;
          text-shadow: 5px 5px 5px #ffd6a0;
          span.big{
            font-size: 217px;
            position: relative;
            top: -18px;
          }
        }
        .bth{
          width: 524px;
          height:127px;
          margin: 0 auto;
          background: url(../img/jx.png) no-repeat 50% 50%;
          line-height: 127px;
          font-size: 60px;
          a{
            color: #fff;
            display: block;
            width: 100%;
            height: 100%;
          }
          
        }
      }
      .slide2{
        background: url(../img/2.png) no-repeat;
        font-size: 50px;
        text-align: center;
        padding-top: 230px;
        position: relative;
        .m{
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: #222;
          z-index: 0;
          filter:alpha(opacity=20); /* IE */
          -moz-opacity:0.2; /* 老版Mozilla */
          -khtml-opacity:0.2; /* 老版Safari */
          opacity: 0.2;
        }
        .box{
          position: relative;
          z-index: 10;
        }
        h2{
          font-size: 70px;
          color: #fff;
          letter-spacing: 3px;
          .red{
            color: #fb0000;
            margin: 0 11px 0 4px;
            font-size: 100px;
            font-family: '微软雅黑';
            font-style: italic;
            position: relative;
            top: -10px;
          }
        }
        p{
          color: #fff;
          padding-bottom: 181px;
          padding-top: 20px;
        }
        .btn{
          a{
            display: inline-block;
            width: 280px;
            height: 64px;
            line-height: 64px;
            color: #fff;
            background: #e48f15;
            font-size: 28px;
            margin-right: 40px;
            border-radius:5px;
            &:hover{
              background: red;
            }
          }
        }
      }
      .slide3{
        background: url(../img/3.png) no-repeat;
        position: relative;
        color: #fff;
        .box{
          padding-top: 110px;
          h1{
            font-size: 108px;
            width: 1039px;
            border-bottom: 1px solid #fff;
            margin: 0 auto;
            padding-bottom: 23px;
            color: #fff;
          }
          p.p{
            font-size: 56px;
            line-height: 90px;
            font-weight: 600;
          }
          p{
            font-size: 26px;
            line-height: 40px;
          }
          .btn{
            margin-top:180px; 
            a{
              display: inline-block;
              width: 280px;
              height: 64px;
              line-height: 64px;
              color: #fff;
              background: #e48f15;
              font-size: 28px;
              margin-right: 40px;
              border-radius:5px;
              &:hover{
                background: red;
              }
            }
          }
        }
      }
    }
  }
  // 导航
   #nav.fiexd{
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 64px;
   }
  #nav{
    width: 100%;
    height: 64px;
    background-color: #01163c;
    .nav-box{
      height: 64px;
      line-height: 64px;
      width: 1200px;
      margin: 0 auto;
      font-size: 0;
      text-align: left;
      a{
        display: inline-block;
        font-size: 18px;
        color: #fff;
        text-align: center;
        width: 140px;
        height: 64px;
        &:hover{
          background: #19275f;
          color: #fffc20;
        }
      }
    }
  }
  //第二屏
  .section2{
    text-align: center;
    height: 664px;
    h2{
      width: 774px;
      margin: 0 auto;
      font-size: 50px;
      padding: 80px 0 23px 0;
      border-bottom: 1px solid #222;
    }
    p{
      font-size: 18px;
      line-height: 52px;
    }
    .box{
      margin-top: 40px;
      font-size: 0;
      text-align: center;
      >div{
        display: inline-block;
        font-size: 14px;
        width: 285px;
        height: 320px;
        box-shadow: 3px 3px 15px #ccc;
        margin-right: 20px;
      }
      >div.l{
        margin: 0;
      }
    }
  }
  // 第三屏
  .section3{
    
  }
  // 第四屏
  .section4{
    
  }
  // 第五屏
  .section5{
    
  }
  // 第六屏
  .section6{
    
  }
  // 第七屏
  .section7{
    
  }
   // 第八屏
  .section8{
    
  }
  // 第九屏
  .section9{
    
  }
   // 第十屏
  .section10{
    
  }
    
}