<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>入户推广</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="../ydui/css/ydui.css" />
    <link rel="stylesheet" type="text/css" href="../mui/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="css/ruhu2.css" />
    <script src="../js/changHtmlFontSize.js"></script>
    <!-- 广点通 -->
    <script>
      !function(g,d,t,e,v,n,s){if(g.gdt)return;v=g.gdt=function(){v.tk?v.tk.apply(v,arguments):v.queue.push(arguments)};v.sv='1.0';v.bt=0;v.queue=[];n=d.createElement(t);n.async=!0;n.src=e;s=d.getElementsByTagName(t)[0];s.parentNode.insertBefore(n,s);}(window,document,'script','//qzonestyle.gtimg.cn/qzone/biz/gdt/dmp/user-action/gdtevent.min.js');
      gdt('init','1108956025');
      gdt('track','PAGE_VIEW');
    </script>
    <noscript>
      <img height="1" width="1" style="display:none" src="https://a.gdt.qq.com/pixel?user_action_set_id=1108956025&action_type=PAGE_VIEW&noscript=1" />
    </noscript>
    <!-- 今日头条 -->
    <script>
      (function(r,d,s,l){var meteor=r.meteor=r.meteor||[];meteor.methods=["track","off","on"];meteor.factory=function(method){return function(){
          var args=Array.prototype.slice.call(arguments);args.unshift(method);meteor.push(args);return meteor}};for(var i=0;i<meteor.methods.length;i++){
          var key=meteor.methods[i];meteor[key]=meteor.factory(key)}meteor.load=function(){var js,fjs=d.getElementsByTagName(s)[0];js=d.createElement(s);
          js.src="https://analytics.snssdk.com/meteor.js/v1/"+l+"/sdk";fjs.parentNode.insertBefore(js,fjs)};meteor.load();if(meteor.invoked){return}
          meteor.invoked=true;meteor.track("pageview")})(window,document,"script","1632681503256589");
    </script>
    <!-- 百度 -->
    <script>
      window._agl = window._agl || [];
        (function () {
            _agl.push(
                ['production', '_f7L2XwGXjyszb4d1e2oxPybgD']
            );
            (function () {
                var agl = document.createElement('script');
                agl.type ='text/javascript';
                agl.async = true;
                agl.src = 'https://fxgate.baidu.com/angelia/fcagl.js?production=_f7L2XwGXjyszb4d1e2oxPybgD';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(agl, s);
            })();
        })();
    </script>
  </head>
  <body>
    <div class="app">
      <div class="banner">
        <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
          <img src="img/ruhu2.jpg">
        </a>
      </div>
      <div class="content" style="margin: 0;">
        <div class="form_box">
          <form class="mui-input-group myform">
            <p>1、您的学历（单选）<span style="color:red;">*</span></p>
            <div class="item div">
              <div class="mui-input-row mui-radio mui-left">
                <label>高中及以下</label>
                <input name="xue" type="radio" value="高中及以下" class="xue" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>非全日制大专</label>
                <input name="xue" type="radio" value="非全日制大专" class="xue" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>全日制大专</label>
                <input name="xue" type="radio" value="全日制大专" class="xue" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>非全日制本科</label>
                <input name="xue" type="radio" value="非全日制本科" class="xue" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>全日制本科</label>
                <input name="xue" type="radio" value="全日制本科" class="xue" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>硕士及以上</label>
                <input name="xue" type="radio" value="硕士及以上" class="xue" required>
              </div>
            </div>
            <p>2、您目前的年龄（单选）<span style="color:red;">*</span></p>
            <div class="item">
              <div class="mui-input-row mui-radio mui-left">
                <label>18-20岁</label>
                <input name="age" type="radio" value="18-20岁" class="age" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>21-25岁</label>
                <input name="age" type="radio" value="21-25岁" class="age" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>26-30岁</label>
                <input name="age" type="radio" value="26-30岁" class="age" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>31-39岁</label>
                <input name="age" type="radio" value="31-39岁" class="age" required>
              </div>
            </div>
            <p>3、社保年限（单选）<span style="color:red;">*</span></p>
            <div class="item">
              <div class="mui-input-row mui-radio mui-left">
                <label>一年</label>
                <input name="way" type="radio" value="一年" class="way" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>两年</label>
                <input name="way" type="radio" value="两年" class="way" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>三年</label>
                <input name="way" type="radio" value="三年" class="way" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label style="font-size: 0.28rem;">四年</label>
                <input name="way" type="radio" value="四年" class="way" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>五年</label>
                <input name="way" type="radio" value="五年" class="way" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>六年以上</label>
                <input name="way" type="radio" value="六年以上" class="way" required>
              </div>
            </div>
            <div class="f-line"></div>
            <div class="inp-name">
              <p>您的姓名：<span style="color:red;">*</span></p>
              <div class="name-line">
                <input type="text" required name="username" minlength="2" class="usename" value="" placeholder="请输入您的姓名" />
              </div>
            </div>
            <div class="inp-name">
              <p>您的手机号（必填项）：<span style="color:red;">*</span></p>
              <div class="name-line">
                <input type="text" required name="userphone" maxlength="11" class="userphone" value="" placeholder="请输入您的手机" />
              </div>
            </div>
            <div class="out-box">
              <div class="automatic cur">
                <input type="radio" name="automatic" class="" value="" />
              </div>
              <span class="person">自动输入历史手机号</span>
              <span class="getPensentbtn" style="color: #e98f10;">《个人信息授权书》</span>
            </div>
            <div>
              <button type="submit" class="get_stipend get_stipend1">定制快速入户广州的方案</button>
            </div>
          </form>

          <div class="benke">
            <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
              <img src="img/ruhu2_2.jpg">
            </a>
          </div>
          <!-- 表单2 -->
          <form class="mui-input-group myform">
            <p>1、您的学历（单选）<span style="color:red;">*</span></p>
            <div class="item div">
              <div class="mui-input-row mui-radio mui-left">
                <label>高中及以下</label>
                <input name="xue2" type="radio" value="高中及以下" class="xue2" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>非全日制大专</label>
                <input name="xue2" type="radio" value="非全日制大专" class="xue2" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>全日制大专</label>
                <input name="xue2" type="radio" value="全日制大专" class="xue2" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>非全日制本科</label>
                <input name="xue2" type="radio" value="非全日制本科" class="xue2" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>全日制本科</label>
                <input name="xue2" type="radio" value="全日制本科" class="xue2" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>硕士及以上</label>
                <input name="xue2" type="radio" value="硕士及以上" class="xue2" required>
              </div>
            </div>
            <p>2、您目前的年龄（单选）<span style="color:red;">*</span></p>
            <div class="item">
              <div class="mui-input-row mui-radio mui-left">
                <label>18-20岁</label>
                <input name="age2" type="radio" value="18-20岁" class="age2" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>21-25岁</label>
                <input name="age2" type="radio" value="21-25岁" class="age2" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>26-30岁</label>
                <input name="age2" type="radio" value="26-30岁" class="age2" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>31-39岁</label>
                <input name="age2" type="radio" value="31-39岁" class="age2" required>
              </div>
            </div>
            <p>3、社保年限（单选）<span style="color:red;">*</span></p>
            <div class="item">
              <div class="mui-input-row mui-radio mui-left">
                <label>一年</label>
                <input name="way2" type="radio" value="一年" class="way2" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>两年</label>
                <input name="way2" type="radio" value="两年" class="way2" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>三年</label>
                <input name="way2" type="radio" value="三年" class="way2" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label style="font-size: 0.28rem;">四年</label>
                <input name="way2" type="radio" value="四年" class="way2" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>五年</label>
                <input name="way2" type="radio" value="五年" class="way2" required>
              </div>
              <div class="mui-input-row mui-radio mui-left">
                <label>六年以上</label>
                <input name="way2" type="radio" value="六年以上" class="way2" required>
              </div>
            </div>
            <div class="f-line"></div>
            <div class="inp-name">
              <p>您的姓名：<span style="color:red;">*</span></p>
              <div class="name-line">
                <input type="text" required name="username2" minlength="2" class="usename2" value="" placeholder="请输入您的姓名" />
              </div>
            </div>
            <div class="inp-name">
              <p>您的手机号（必填项）：<span style="color:red;">*</span></p>
              <div class="name-line">
                <input type="text" required name="userphone2" maxlength="11" class="userphone2" value="" placeholder="请输入您的手机" />
              </div>
            </div>
            <div class="out-box">
              <div class="automatic cur">
                <input type="radio" name="automatic" class="" value="" />
              </div>
              <span class="person">自动输入历史手机号</span>
              <span class="getPensentbtn" style="color: #e98f10;">《个人信息授权书》</span>
            </div>
            <div>
              <button type="submit" class="get_stipend get_stipend2">定制快速入户广州的方案</button>
            </div>
          </form>

        </div>

        <!-- 尾部 -->
        <div class="footer">
          <div class="copyRight">
            <!-- <p><span>广州博霖教育科技有限公司</span></p> -->
            <p>
              <span class="line-f">—</span>
              <span class="f-copy">粤ICP备19060809号-3</span>
              <span class="line-f">—</span>
            </p>
          </div>
        </div>
      </div>
    </div>


    <!-- 弹框 -->
    <!-- 个人信息授权弹框 getResultModel-->
    <div class="motal None">
    </div>
    <div class="getResultModel None">
      <span class="close" style="font-weight: 300;"></span>
      <h2>个人信息授权书</h2>
      <div class="msg_box">
        <p>
          尊敬的用户，您选择使用“自动输入历史手机号”功
          能后，您同意本平台在法律允许的范围内，收集您的
          手机号码，您已知晓并同意在您下次浏览广告页面
          时，我们会帮您预先填写您上次输入的历史手机号，
          您的手机号码仅会用于在广告页面的预填充，且只有
          您点击提交按钮之后信息才会传递给广告主商家。
        </p>
      </div>
    </div>

    <!-- 手机验证弹框 -->
    <div class="phoneModel None">
      <span class="close" style="font-weight: 300;"></span>
      <p style="color: #333333;padding: 10px 0;font-size: 15px;">手机验证</p>
      <div style="font-size: 12px;padding-bottom: 15px;">
        <span>短信验证码已发送至</span>
        <span class="userphone" style="font-size: 14px;"></span>
      </div>
      <form action="" method="post">
        <div style="position: relative;line-height: 38px;">
          <input type="text" name="ma" class="ma" maxlength="6" value="" placeholder="请输入短信验证码">
          <span style="color: #007AFF;position: absolute;top: 0px;right: 7px;cursor: pointer;font-size: 13px;" class="getMaNum">获取验证码</span>
        </div>
        <input type="submit" value="确定" style="width: 90%;border-radius: 20px;" class="sendreg" />
      </form>
    </div>


    <script src="../js/jquery2.01.js"></script>
    <script src="../ydui/js/ydui.js"></script>
    <script src="../js/comment.js"></script>
    <script>
      // 客服固定在底部

      $(function() {

        $('.kefu').on('click', function() {
          var _53code = document.createElement("script");
          _53code.src = '//tb.53kf.com/code/code/c762816c46f81ba33560df7feac9ded1/1';
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(_53code, s);
        })
        $(window).scroll(function() {
          // 页面向下滚动的最小距离时客服框固定定位在底部; fied
          //  滚动高度 + 视口高度 = 文档高度
          // console.log($('.copyRight').position().top)

          var copyRight_height = $('.copyRight').height(); //页眉高度
          var doc_scrollTop = $(document).scrollTop(); //页面滚动的高度
          var win_height = $(window).height() //视口高度
          var doc_height = $(document).height(); //页面高度

          // 如果页面滚动高度大于页面高度 减去页面高度时时,设置它为相对定位
          if (doc_scrollTop >= (doc_height - win_height - copyRight_height - $('.customer-service').height())) {
            $('.customer-service').removeClass('fied');
          } else {
            $('.customer-service').addClass('fied');
          }

        })

        // automatic 勾选自动输入历史手机号码
        $('.automatic').on('click', function() {

          if (!$(this).hasClass('cur')) {
            $(this).addClass('cur')
          } else {
            $(this).removeClass('cur')
          }
        })

        // 个人信息弹框
        // 打开事件 关闭事件
        OpenMsg('.getPensentbtn', '.getResultModel')
        CloseMsg('.close', '.getResultModel')

        var dialog = YDUI.dialog;
        var sourceLink = document.referrer; //获取地址,用于提交数据平台的来源的平台

        // 关闭全部弹框
        $('.close').on('click', function() {
          Hide_motai(['.getResultModel', '.phoneModel', '.motal'])
        })
        //点击免费获取奖学金验证通过发送请求显示验证码弹框  phoneModel
        $('.get_stipend1').on('click', function() {
          // 判断单选框是否勾选

          var bol1 = isRadioChecked($('.xue'));
          var bol2 = isRadioChecked($('.age'));
          var bol3 = isRadioChecked($('.way'));

          var myRegExp = MyRegExp(); //验证对象   userphone usename

          var bol5 = myRegExp.isPhone($.trim($('.userphone').val()));
          // var bol4 = myRegExp.isPhone($.trim($('.usename').val()));



          var sourceLink = document.referrer ? document.referrer : window.location.href;

          if (!bol1) {
            dialog.alert('请勾选你最高学历！')
            return false;
          }
          if (!bol2) {
            dialog.alert('请勾选你的年龄！')
            return false;
          }
          if (!bol3) {
            dialog.alert('请勾选您的社保年限！')
            return false;
          }
          if (!$('.usename').val()) {
            dialog.alert('请输入姓名！')
            return false;
          }
          if (!bol5) {
            dialog.alert('请输入正确的11位手机号码！')
            return false;
          }

          if (bol1 && bol2 && bol3 && bol5) {
            console.log('可以发送验证码请求了 ！')
            var data = {
              education: $('input[name=xue]:checked').val(),
              ageGroups: $('input[name=age]:checked').val(),
              yearsSocial: $('input[name=way]:checked').val(),
              name: $('input[name=username]').val(),
              telPhone: $('input[name=userphone]').val(),
              sourceLink: sourceLink,
              fromPlatform: "广点通"
            }

            if (ispingtai('baidu')) {
              data.fromPlatform = "百度"
            }
            if (ispingtai('toutiao')) {
              data.fromPlatform = "今日头条"
            }
            if (ispingtai('e.qq')) {
              data.fromPlatform = "广点通"
            }



            console.log(data)
            $('.myform')[0].reset();
            $.ajax({
              url: "../../data/customerInfromation/insertCustomerInfromation",
              data: data,
              type: "POST",
              success: function(res) {

                //获取元素距离顶部的距离
                /*  var divscrollTop = $('.div').scrollTo();
                 $(document).scrollTo(divscrollTop); */
                dialog.alert('提交成功，感谢您的回答！');
                $('.phoneModel').hide();
                $('.motal').hide();

                // 百度
                if (ispingtai('baidu')) {
                  window._agl && window._agl.push(['track', ['success', {
                    t: 3
                  }]])
                }
                // 头条
                if (ispingtai('toutiao')) {
                  meteor.track("form", {
                    convert_id: "1635930760516622"
                  })
                }
                // 广点通
                if (ispingtai('e.qq')) {
                  gdt('track', 'REGISTER', {
                    'key1': 'value1',
                    'key2': 'value2'
                  });
                  gdt('track', 'CONSULT', {
                    'key1': 'value1',
                    'key2': 'value2'
                  });
                  gdt('track', 'RESERVATION', {
                    'key1': 'value1',
                    'key2': 'value2'
                  });
                }

              },
              error: function() {
                console.log('提交失败')
                dialog.alert('提交失败！')
              }
            })

            return false;
          }
          return false;
        })


        // 表单2
        $('.get_stipend2').on('click', function() {
          // 判断单选框是否勾选

          var bol1 = isRadioChecked($('.xue2'));
          var bol2 = isRadioChecked($('.age2'));
          var bol3 = isRadioChecked($('.way2'));

          var myRegExp = MyRegExp(); //验证对象   userphone usename

          var bol5 = myRegExp.isPhone($.trim($('.userphone2').val()));
          // var bol4 = myRegExp.isPhone($.trim($('.usename').val()));



          var sourceLink = document.referrer ? document.referrer : window.location.href;

          if (!bol1) {
            dialog.alert('请勾选你最高学历！')
            return false;
          }
          if (!bol2) {
            dialog.alert('请勾选你的年龄！')
            return false;
          }
          if (!bol3) {
            dialog.alert('请勾选您的社保年限！')
            return false;
          }
          if (!$('.usename2').val()) {
            dialog.alert('请输入姓名！')
            return false;
          }
          if (!bol5) {
            dialog.alert('请输入正确的11位手机号码！')
            return false;
          }

          if (bol1 && bol2 && bol3 && bol5) {
            console.log('可以发送验证码请求了 ！')
            var data = {
              education: $('input[name=xue2]:checked').val(),
              ageGroups: $('input[name=age2]:checked').val(),
              yearsSocial: $('input[name=way2]:checked').val(),
              name: $('input[name=username2]').val(),
              telPhone: $('input[name=userphone2]').val(),
              sourceLink: sourceLink,
              fromPlatform: "广点通"
            }

            if (ispingtai('baidu')) {
              data.fromPlatform = "百度"
            }
            if (ispingtai('toutiao')) {
              data.fromPlatform = "今日头条"
            }
            if (ispingtai('e.qq')) {
              data.fromPlatform = "广点通"
            }



            $('.myform')[0].reset();
            $.ajax({
              url: "../../data/customerInfromation/insertCustomerInfromation",
              data: data,
              type: "POST",
              success: function(res) {

                //获取元素距离顶部的距离
                /*  var divscrollTop = $('.div').scrollTo();
                 $(document).scrollTo(divscrollTop); */
                dialog.alert('提交成功，感谢您的回答！');
                $('.phoneModel').hide();
                $('.motal').hide();
                // 百度
                if (ispingtai('baidu')) {
                   window._agl && window._agl.push(['track', ['success', {t: 3}]])
                }
                // 头条
                if (ispingtai('toutiao')) {
                   meteor.track("form", {convert_id: "1635930760516622"})
                }
                // 广点通
                if (ispingtai('e.qq')) {
                  gdt('track', 'REGISTER', {
                    'key1': 'value1',
                    'key2': 'value2'
                  });
                  gdt('track', 'CONSULT', {
                    'key1': 'value1',
                    'key2': 'value2'
                  });
                  gdt('track', 'RESERVATION', {
                    'key1': 'value1',
                    'key2': 'value2'
                  });
                }

              },
              error: function() {
                console.log('提交失败')
                dialog.alert('提交失败！')
              }
            })

            return false;
          }
          return false;
        })

        return false;
      })
    </script>
  </body>
</html>
