<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>博霖教育</title>
<meta
	content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
	name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="x-rim-auto-match" content="none">
<meta name="Keywords" content="学历提升,成人高考,网络教育,远程教学" />
<meta name="description" content="博霖教学是一个学历提升平台,为广大学员提供学历提升带来福利!" />
<link rel="stylesheet" type="text/css" href="index/css/layer.css" />
<link rel="stylesheet" href="index/css/index.css">
<script>
        window._agl = window._agl || [];
        (function () {
            _agl.push(
                ['production', '_f7L2XwGXjyszb4d1e2oxPybgD']
            );
            (function () {
                var agl = document.createElement('script');
                agl.type ='text/javascript';
                agl.async = true;
                agl.src = 'https://fxgate.baidu.com/angelia/fcagl.js?production=_f7L2XwGXjyszb4d1e2oxPybgD';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(agl, s);
            })();
        })();
        </script>
</head>
<body>
	<div class="app" id="app">
		<!-- 第一屏 -->
		<div class="setion1">
			<div class="bg_mg">
				<img src="index/img/top_bg.png" alt="">
			</div>
			<div class="box">
				<div class="logo">
					<img src="index/img/logo.png" alt="">
				</div>
				<div class="row1">
					<span>适合于上班族/零基础/快速拿学历证的人群</span>
				</div>
				<h2>正规成人学历报读中心</h2>
				<div class="k">
					<img src="index/img/t_1.png" alt="">
				</div>
				<div class="bao">
					<span>报名即享1000元助学金</span>
				</div>
				<div class="k2">
					<img src="index/img/t_2.png" alt="">
				</div>
				<div class="btn">
					<a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">报考流程查询>></a>
				</div>
			</div>
			<div class="error">
				<h3>常见问题咨询：</h3>
				<div class="time">
					<a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1"
						class="a_time_box">
						<div class="time-box slider">
							<p>一、怎么选择院校专业？那些专业好就业？</p>
							<p>二、成人学历报考有那些条件？</p>
							<p>三、低学历可以直接考本科吗？</p>
							<p>四、报名费用大概多少钱？</p>
							<p>五、自考/成考/网教/函授有什么区别？</p>
							<p>六、上班族怎么安排时间提升学历？</p>
							<p>七、怎么申请助学金？怎么申请学费分期？</p>
							<p>八、多长时间可以拿到证书？</p>
						</div>
					</a>
				</div>
				<a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1"
					class="cha">点击查询</a>
			</div>
		</div>
		<!-- 第二屏 -->
		<div class="setion2">
			<h2>四大学历提升方式一览表</h2>
			<div class="line">
				<img src="index/img/line.png" alt="">
			</div>
			<div class="box">
				<div>
					<div class="tit">
						<img src="index/img/b_1.png" alt="">
					</div>
					<h3>自学考试</h3>
					<div class="c">
						<span> 1.5年毕业,一年考两次，轻<br>松入学,业余学习、上班族<br>优选,含金量：国家承认，<br>学信网可查
						</span>
					</div>
					<div class="btn">
						<a
							href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">了解自学考试</a>
					</div>
				</div>
				<div>
					<div class="tit">
						<img src="index/img/b_2.png" alt="">
					</div>
					<h3>成人高考</h3>
					<div class="c">
						<span> 2.5年毕业,一年考一次,统<br>考入学分业余、脱产等教学形式,含金量：国家承认，学信网可查
						</span>
					</div>
					<div class="btn">
						<a
							href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1"
							class="">了解自学考试</a>
					</div>
				</div>
				<div>
					<div class="tit">
						<img src="index/img/b_3.png" alt="">
					</div>
					<h3>网教远程</h3>
					<div class="c">
						<span> 2.5年毕业；一年考两次；校考入学；网络教学无地域限制；含金量：国家承认，学信网可查 </span>
					</div>
					<div class="btn">
						<a
							href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">了解自学考试</a>
					</div>
				</div>
				<div>
					<div class="tit">
						<img src="index/img/b_4.png" alt="">
					</div>
					<h3>电大函授</h3>
					<div class="c">
						<span> 2.5年毕业；一年考两次；校考入学；网络教学或教学站学习；含金量：国家承认，学信网可查 </span>
					</div>
					<div class="btn">
						<a
							href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">了解自学考试</a>
					</div>
				</div>
			</div>
			<div class="liao">
				<a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1"
					style="margin-right: 0.22rem;">了解如何选择学历</a> <a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">了解更多学历区别</a>
			</div>
		</div>
		<!-- 第三屏 -->
		<div class="setion3">
			<h2>在线测评</h2>
			<h3>看你适合那种学历提升方式？</h3>
			<div class="line">
				<img src="index/img/line.png" alt="">
			</div>
			<div class="myform">
				<form action="" method="post">
					<div class="tit">
						<span>1、您目前的学历层次：</span>
					</div>
					<div class="item">
						<input type="radio" name="x" value="初中及以下" v-model="educationNow">
						<span style="margin-right: 0.78rem;">初中及以下</span> <input
							type="radio" name="x" value="高中" v-model="educationNow">
						<span style="margin-right: 1rem;">高中</span> <input type="radio"
							name="x" value="中专/中技" v-model="educationNow"> <span>中专/中技</span>
						<br> <input type="radio" name="x" value="大专"
							v-model="educationNow"> <span
							style="margin-right: 0.78rem;">大专</span>
					</div>
					<div class="tit">
						<span>2、您的年龄段：</span>
					</div>
					<div class="item">
						<input type="radio" name="n" value="18-24岁" v-model="ageGroups">
						<span style="margin-right: 1.09rem;">18-24岁</span> <input
							type="radio" name="n" value="25-29岁" v-model="ageGroups">
						<span style="margin-right: 0.61rem;">25-29岁</span> <input
							type="radio" name="n" value="30-35岁" v-model="ageGroups">
						<span>30-35岁</span> <br> <input type="radio" name="n"
							value="35岁以上" v-model="ageGroups"> <span>35岁以上</span>
					</div>
					<div class="tit">
						<span>3、您想要提升到什么学历层次：</span>
					</div>
					<div class="item">
						<input type="radio" name="c" value="大专" v-model="liftingMode">
						<span style="margin-right: 1.51rem;">大专</span> <input type="radio"
							name="c" value="本科" v-model="liftingMode"> <span>本科</span>
					</div>
					<div class="tit">
						<span>4、您能接受的考证时间是：</span>
					</div>
					<div class="item">
						<input type="radio" name="tt" value="1年以内" v-model="receptTime">
						<span style="margin-right: 1.11rem;">1年以内</span> <input
							type="radio" name="tt" value="1-2年" v-model="receptTime">
						<span style="margin-right: 0.9rem;">1-2年</span> <input
							type="radio" name="tt" value="2-3年" v-model="receptTime">
						<span style="margin-right: 0.8rem;">2-3年</span> <br> <input
							type="radio" name="tt" value="3年以上" v-model="receptTime">
						<span>3年以上</span>
					</div>
					<div class="tit">
						<span>5、您考证的原因是：</span>
					</div>
					<div class="item">
						<input type="radio" name="t" value="找工作/晋升" v-model="objective">
						<span style="margin-right: 0.22rem;">找工作/晋升</span> <input
							type="radio" name="t" value="考公务员" v-model="objective"> <span
							style="margin-right: 0.82rem;">考公务员</span> <input type="radio"
							name="t" value="城市入户" v-model="objective"> <span>城市入户</span>
						<br> <input type="radio" name="ts" value="出国留学"
							v-model="objective"> <span style="margin-right: 0.6rem;">出国留学</span>
						<input type="radio" name="ts" value="考证书/评职称" v-model="objective">
						<span style="margin-right: 0.2rem;">考证书/评职称</span> <input
							type="radio" name="ts" value="其他" v-model="objective"> <span>其他</span>
					</div>
					<div class="hibline"></div>
					<div class="username">
						<span>您的姓名:</span> <input type="text" name="suername" id=""
							v-model="customerName" style="font-size:16px;" placeholder="请输入您的姓名" />
					</div>
					<div class="userphone">
						<span>您的手机:</span> <input type="text" name="userphone" id=""
							maxlength="11" v-model="customerPhone"  style="font-size:16px;" placeholder="请输入您的手机" />
					</div>
					<div class="btn">
						<button type="button" v-on:click="postData">免费获取测评结果>></button>
					</div>
				</form>
			</div>
		</div>
		<!-- 第四屏 -->
		<div class="setion4">
			<h2>
				八大学历提升方案<br>量身定制提升专属方案
			</h2>
			<div class="line">
				<img src="index/img/line.png" alt="">
			</div>
			<div class="msg">
				<span>无论您有无基础，不管您什么学历层次，我们都能为您提供专属的专科/本科提升方案</span>
			</div>
			<div class="box">
				<div>
					<span>无学历<br>升专科
					</span>
				</div>
				<div>
					<span>高中<br>升专科
					</span>
				</div>
				<div>
					<span>专科<br>升本科
					</span>
				</div>
				<div class="item4">
					<span>专本套读</span>
				</div>
				<div>
					<span>无学历<br>升本科
					</span>
				</div>
				<div>
					<span>高中<br>升本科
					</span>
				</div>
				<div class="item4">
					<span>第二学历</span>
				</div>
				<div>
					<span>上班族<br>升本科
					</span>
				</div>
			</div>
			<div class="btn">
				<a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">点击获取>></a>
			</div>
		</div>
		<!-- 第五屏 -->
		<div class="setion5">
			<div class="main">
				<h2>学历提升九大作用</h2>
				<div class="line">
					<img src="index/img/line.png" alt="">
				</div>
				<div class="box">
					<div>
						<div class="img-box">
							<img src="index/img/z_1.png" alt="">
						</div>
						<p>升职加薪必备</p>
					</div>
					<div>
						<div class="img-box">
							<img src="index/img/z_2.png" alt="">
						</div>
						<p>考证必备</p>
					</div>
					<div>
						<div class="img-box">
							<img src="index/img/z_3.png" alt="">
						</div>
						<p>考公务员必备</p>
					</div>
					<div>
						<div class="img-box">
							<img src="index/img/z_4.png" alt="">
						</div>
						<p>考研必备</p>
					</div>
					<div>
						<div class="img-box">
							<img src="index/img/z_5.png" alt="">
						</div>
						<p>积分落户必备</p>
					</div>
					<div>
						<div class="img-box">
							<img src="index/img/z_6.png" alt="">
						</div>
						<p>出国留学必备</p>
					</div>
					<div>
						<div class="img-box">
							<img src="index/img/z_7.png" alt="">
						</div>
						<p>求职就业必备</p>
					</div>
					<div>
						<div class="img-box">
							<img src="index/img/z_8.png" alt="">
						</div>
						<p style="line-height: 0.38rem;">
							考职称<br>评职称必备
						</p>
					</div>
					<div>
						<div class="img-box">
							<img src="index/img/z_9.png" alt="">
						</div>
						<p>外企求职必备</p>
					</div>
				</div>
				<div class="btn">
					<a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">了解更多>></a>
				</div>
			</div>
		</div>
		<!-- 第六屏 -->
		<div class="setion6">
			<h2>2019年•热门院校一览</h2>
			<div class="line">
				<img src="index/img/line.png" alt="">
			</div>
			<div class="msg">
				<span>不用去学校，就能读名校专科/本科学历，国家承认<br>简单易考，高含金量，学信网终身可查！
				</span>
			</div>
			<div class="box1">
				<a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
					<div class="left">
						<div>暨南大学</div>
						<div class="blue">华南理工大学</div>
						<div class="blue">华南农业大学</div>
						<div>华南师范大学</div>
						<div>广东工业大学</div>
						<div class="blue">广东开放大学</div>
						<div class="blue">国家开放大学</div>
						<div>了解更多>></div>
					</div>
				</a>
				<div class="right">
					<a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1"><img
						src="index/img/school.png" alt=""></a>
				</div>
			</div>
		</div>
		<!-- 第七屏 -->
		<div class="setion7">
			<h2>2019年•热门专业</h2>
			<div class="line">
				<img src="index/img/line.png" alt="">
			</div>
			<div class="box">
				<a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
					<div>经济管理类</div>
				</a> <a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1"
					class="r">
					<div>经济管理类</div>
				</a> <a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
					<div>经济管理类</div>
				</a> <a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1"
					class="r">
					<div>经济管理类</div>
				</a> <a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
					<div>经济管理类</div>
				</a> <a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1"
					class="r">
					<div>经济管理类</div>
				</a>
			</div>
			<div class="btn">
				<a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">了解更多>></a>
			</div>
		</div>
		<!-- 第八屏 -->
		<div class="setion8">
			<h2>掌握窍门 选对学历 上班族</h2>
			<h3>零基础都能轻松拿本科</h3>
			<div class="line">
				<img src="index/img/line.png">
			</div>
			<div class="msg">
				<span>0利息负担，0考证负担，0时间负担</span>
			</div>
			<div class="box">
				<div>
					<span>1.如何快速提升学历?</span> <a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">点击咨询</a>
				</div>
				<div>
					<span>2.学历提升方式哪种好？</span> <a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">点击咨询</a>
				</div>
				<div>
					<span>3.学费多少钱？</span> <a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">点击咨询</a>
				</div>
				<div>
					<span>4.毕业需要多久？</span> <a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">点击咨询</a>
				</div>
				<div>
					<span>5.成人学历国家承认吗？</span> <a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">点击咨询</a>
				</div>
				<div>
					<span>6.报考条件是什么？</span> <a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">点击咨询</a>
				</div>
				<div>
					<span>7.承认学历和统招的区别？</span> <a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">点击咨询</a>
				</div>
				<div>
					<span>8.院校专业应如何选择？</span> <a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">点击咨询</a>
				</div>
				<div>
					<span>9.零基础可以考吗？</span> <a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">点击咨询</a>
				</div>
				<div>
					<span>10.报考时间和流程？</span> <a
						href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">点击咨询</a>
				</div>
			</div>
		</div>
		<!-- 第九屏 -->
		<div class="setion9">
			<img src="index/img/x_bg.png" class="bg9" alt="">
			<div class="opacity"></div>
			<div class="box">
				<h3>0基础•上班族</h3>
				<h2>轻松考取本科学历！</h2>
				<div class="r">报名即享1000元助学金！</div>
				<div class="myform">
					<div>
						<input type="text" name="username2"  style="font-size:16px;" v-model="username2"
							placeholder="请输入您的真实姓名">
					</div>
					<div>
						<input type="text" name="userphone2" maxlength="11"
							v-model="userphone2" style="font-size:16px;" placeholder="请输入您的真实手机">
					</div>
					<div class="btn">
						<button type="button" v-on:click="postData2">立即获取助学金</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 第十屏 -->
		<div class="setion10">
			<h2>国家教育部认可，学信网可查</h2>
			<div class="line">
				<img src="index/img/line.png" alt="">
			</div>
			<div class="msg">
				<span>登录教育考试学院学历查询系统<br> “学信网”<span
					style="color: https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1fe0000;">（http://www.chsi.com.cn/）</span>终身可查
				</span>
			</div>
			<div class="shool_img">
				<img src="index/img/xuexing.png" alt="">
			</div>
			<div class="msg-box">
				<p>
					1.所有学员成绩合格者可获取所报考院校专业对应的学历证书，该证书属于国民教育系列学历证书，国家承认，社会认可。 <br>2.电子注册，唯一编码，学信网终身可查。
					<br>3.含金量高，待遇等同在校统招生，企事业单位认可度高，可以申请办理各类证书和职称。
				</p>
			</div>
			<div class="btn">
				<a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">点击咨询更多>></a>
			</div>
		</div>
		<!-- 第十一屏 -->
		<div class="setion11">
			<div class="copyright">
				<p>广州博霖教育科技有限公司</p>
				<p class="br" style="width:2.6rem">
				 <span class="L"></span> 
					<a style="color:#222" href="http://beian.miit.gov.cn">粤ICP备19060809号</a>
					<span class="R"></span>
				</p>
			</div>
			<div class="bottom_nav">
				<a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1"
					class="cur">报考费用</a> <a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">报考时间</a>
				<a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">快速取证</a>
				<a
					href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">报考条件</a>
			</div>
		</div>
	</div>







	<script src="index/js/jquery2.01.js"></script>
	<script src="index/js/changHtmlFontSize.js"></script>
	<script src="index/js/layer.js"></script>
	<script src="index/js/Vue.js"></script>
	<script src="index/js/axios.js"></script>
	<script src="index/js/index.js"></script>
	<script>
      // 常见问题自动轮播
      $(function(){
        slide()



				//判断滚动固定底部导航
				var bottom_navHeight = $('.bottom_nav').height();



				$(window).scroll(function(){
					var scrollTop = $(this).scrollTop();
			　　var scrollHeight = $(document).height();
			　　var windowHeight = $(this).height();
			　　if(scrollTop + windowHeight  < (scrollHeight-bottom_navHeight-40)){
						$('.bottom_nav').addClass('cur')

			　　}else{
			　　　　$('.bottom_nav').removeClass('cur')
						
					}
			
					
				})
				


      })
      //    layer.open({
      //    	type:1,
      //    	content:"445"
      //    })
	Vue.prototype.$ = jQuery;
      
      var vm = new Vue({
        el: "#app",
        data: {
          customerName: "",
          customerPhone: "",
          ageGroups: "",
          educationNow: "",
          liftingMode: "",
          objective: "",
          receptTime: "",
          userphone2:"",
          username2:"", 
        },
        methods: {
          postData: function() {
            var reg = /^1[35789][0-9]{9}$/;

            if (!this.customerName) {
              layer.open({
                type: 0,
                content: "请输入您的真实姓名！",
                time: 1500,
                btn: "确定"
              })
              return false;
            }
            if (!this.customerPhone) {
              layer.open({
                type: 0,
                content: "请输入您的真实手机！",
                time: 1500,
                btn: "确定"
              })
              return false;
            }
            if (!reg.test(this.customerPhone)) {
              layer.open({
                type: 0,
                content: "请输入正确的11位手机号码！",
                time: 1500,
                btn: "确定"
              })
              return false;
            }

            var data = {
              customerName: this.customerName,
              customerPhone: this.customerPhone,
              ageGroups: this.ageGroups,
              educationNow: this.educationNow,
              liftingMode: this.liftingMode,
              objective: this.objective,
              receptTime: this.receptTime,
              sourceLink :'bolinjy.cn/app/index.html?from=bolinapp'
            }
            console.log(data)
            this.$.post("../../data/customerInfromation/insertCustomerInfromation",
              
               data,function(res){
                 window._agl && window._agl.push(['track', ['success', {t: 3}]])
            	   layer.open({
                       type: 0,
                       content: "数据提交成功！",
                       time: 1500,
                       btn: "确定"
                     })
               }
     
            )
              
          },
          postData2:function(){
           var reg = /^1[35789][0-9]{9}$/;
            if(!this.username2){
              layer.open({
                type: 0,
                content: "请输入您的真实姓名！",
                time: 1500,
                btn: "确定"
              })
              return false;
            }
            if(!this.userphone2){
              layer.open({
                type: 0,
                content: "请输入您的真实手机！",
                time: 1500,
                btn: "确定"
              })
              return false;
            }
            if (!reg.test(this.userphone2)) {
              layer.open({
                type: 0,
                content: "请输入正确的11位手机号码！",
                time: 1500,
                btn: "确定"
              })
              return false;
            }
            // 可以提交了
            var data = {
            customerName:this.username2,
            customerPhone:this.userphone2,
            sourceLink :'bolinjy.cn/app/index.html?from=bolinapp'
            }
            // console.log(data)
         this.$.post("../../data/customerInfromation/insertCustomerInfromation", data,function(res){
        	 
              if (res.code=="success") {
                 window._agl && window._agl.push(['track', ['success', {t: 3}]])
            	  layer.open({
                      type: 0,
                      content: "数据提交成功！",
                      time: 1500,
                      btn: "确定"
                    })
			}}
              

        	 
            
        )}
      }})
    </script>

</body>
</html>
