@charset "UTF-8";
.nav,.nav .nav-in{position:relative}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,time,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}
body,input{font-family:"微软雅黑"}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1;min-width:1344px;font-size: 14px;}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none;color:#333}
a:hover{color:#066cbd;}
input{outline:0}
.noborder{border:0!important;}
.nomargin{margin:0!important;}
.nopadding{padding:0!important;}
.clear:after,.clear:before{content:"";display:table}
.clear:after{clear:both}
.clear{zoom:1;}
.fixed{position:fixed;top:0;z-index:999999;}
.absolute{position:absolute;top:0;z-index:999999;}
.Shadow{background:rgba(0,0,0,0.5);width:100%;height:100%;display:none;}
.tleft{text-align:left!important;}
/*百度地图几种显示方式*/
.mapInfo_label { background: #fff; position: absolute; border: 0; width: 30px; height: 30px; font-size: 12px; border-radius: 15px; user-select: none; }
.mapInfo_label:hover .point_icon { background-position: -46px 0; }
.mapInfo_label:hover span { color: #ff5000 }
.mapInfo_label.cur .msgbox { display: none; }
.mapInfo_label.cur .point_icon { background-position: -46px 0; }
.mapInfo_label.cur span { color: #ff5000 }
.mapInfo_label.check .point_icon { background-position: -46px 0; }
.mapInfo_label span { display: inline-block; line-height: 28px; height: 28px; background: #FFF; color: #3D66BC; max-width: 200px; border-radius: 15px; padding-left: 40px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-right: 10px; }
.mapInfo_label .point_icon { cursor: pointer; background: url(/images/mapIcon2.png) 0px 0px no-repeat; position: absolute; width: 36px; height: 45px; top: 0px; left: 0px; overflow: hidden; }
.mapInfo_label .point_icon_hover { background-position: -46px 0px; }
.mapInfo_label .point_icon_checked { background-position: -46px 0px; }
.mapInfo_label .msgbox { display: none; position: absolute; top: -100px; left: -127px; width: 313px; height: auto; z-index: 3; }
.msgbox .up { width: 313px; height: 12px; background: url(/images/map_box1.png) left top no-repeat; }
.msgbox .content { width: 271px; height: auto; border-left: 1px solid #c2c2c2; border-right: 1px solid #c2c2c2; padding: 5px 20px; background: #fff; position: relative; }
.msgbox .down { width: 313px; height: 31px; background: url(/images/map_box3.png) left top no-repeat; }
.msgbox .content .name { font-size: 14px; font-weight: bold; color: #2a2a2a; width: 270px; height: 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 12px; }
.msgbox .content .txt { font-family: "宋体"; font-size: 12px; padding-bottom: 10px; }
.msgbox .content .txt label { color: #666; }
.msgbox .content .txt a { color: #006cbf; }
.msgbox .content .closeimg { display: block; position: absolute; width: 10px; height: 10px; top: -7px; right: 8px; cursor: pointer; }
.msgbox .content a { cursor: pointer; }

.Mapload { background: #fff; margin: 0 auto; width: 290px; height: 90px; padding: 0 60px; position: fixed; z-index: 1000; font-family: "微软雅黑"; border: 2px solid #a7a7a7; }
.Mapload .loadimg { float: left; display: block; width: 32px; margin: 30px 0; }
.Mapload .loadTxt { margin: 30px 0; margin-left: 12px; float: left; }
.Mapload .loadTxt p { color: #2b2b2b; font-size: 18px; margin-bottom: 9px; }
.Mapload .loadTxt label { color: #949494; font-size: 14px; }









