<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>学历提升测试推广</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<!-- <meta content="telephone=no" name="format-detection"> -->
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="x-rim-auto-match" content="none">
		<link rel="stylesheet" type="text/css" href="ydui/css/ydui.css" />
		<link rel="stylesheet" type="text/css" href="mui/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/qualifcations6.css" />
		<script src="js/changHtmlFontSize.js"></script>
		<!-- <script>(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/10187673/1";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();</script> -->
     <script>
      !function(g,d,t,e,v,n,s){if(g.gdt)return;v=g.gdt=function(){v.tk?v.tk.apply(v,arguments):v.queue.push(arguments)};v.sv='1.0';v.bt=0;v.queue=[];n=d.createElement(t);n.async=!0;n.src=e;s=d.getElementsByTagName(t)[0];s.parentNode.insertBefore(n,s);}(window,document,'script','//qzonestyle.gtimg.cn/qzone/biz/gdt/dmp/user-action/gdtevent.min.js');
      gdt('init','1108956025');
      gdt('track','PAGE_VIEW');
    </script>
    <noscript>
      <img height="1" width="1" style="display:none" src="https://a.gdt.qq.com/pixel?user_action_set_id=1108956025&action_type=PAGE_VIEW&noscript=1" />
    </noscript>
	</head>
	<body>
		<div class="app">
			<div class="nav">
				<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">自考本科</a>
				<span>|</span>
				<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">成人本科</a>
				<span>|</span>
				<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">远程教学</a>
				<span>|</span>
				<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">名校大学</a>
			</div>
			<div class="banner">
        <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
          <img src="img/images/banner6_02.png" alt="">
        </a>
				
			</div>
			<div class="daxue">
				<div>
					<span>985/211大学</span>
					<span>学制短</span>
					<span>含金量高</span>
					<span>在职可读</span>
				</div>
			</div>
			<div class="content">
				<div class="title_box">
					<img src="img/ce2.png" class="left_img">
					<img src="img/ce2.png" class="right_img">
					<p>测一测   考个本科要多久、 要多少钱</p>
				</div>
				<div class="title_form">
					<div class="tijiao">
						快速提交，抢先预定名校高薪专业
					</div>
					<p>提交成功后，根据条件即可申请2000元助学金</p>
					<div class="numbox">
						<span>目前已有2588人参与活动</span>
					</div>
				</div>
				<div class="form_box">
					<form class="mui-input-group myform">
						<p class="div">1、您目前的学历层次是（单选）<span style="color:red;">*</span></p>
						<div class="item">
							<div class="mui-input-row mui-radio mui-left">
								<label>初高中</label>
								<input name="xue" type="radio" value="初高中" class="xue" required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>大专</label>
								<input name="xue" type="radio"  value="大专" class="xue"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>本科及以上</label>
								<input name="xue" type="radio"  value="本科及以上" class="xue"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>其它</label>
								<input name="xue" type="radio"  value="其它" class="xue"  required>
							</div>
						</div>
						<p>2、您目前的年龄是（单选）<span style="color:red;">*</span></p>
						<div class="item">
							<div class="mui-input-row mui-radio mui-left">
								<label>18-23岁</label>
								<input name="age" type="radio"   value="18-23岁"  class="age"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>24-30岁</label>
								<input name="age" type="radio"  value="24-30岁"  class="age"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>31-45岁 </label>
								<input name="age" type="radio"  value="31-45岁"   class="age"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>其它</label>
								<input name="age" type="radio" value="其它" class="age" required>
							</div>
						</div>
						<p>3、您提升学历的目的是（单选）<span style="color:red;">*</span></p>
						<div class="item">
							<div class="mui-input-row mui-radio mui-left">
								<label>升职加薪</label>
								<input name="way" type="radio" value="升职加薪"  class="way"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>积分落户</label>
								<input name="way" type="radio"  value="积分落户" class="way"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>考公务员</label>
								<input name="way" type="radio" value="考公务员"  class="way" required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>其他</label>
								<input name="way" type="radio" value="其他"  class="way" required>
							</div>
						</div>
						<div class="inp-name">
							<p>请输入您的姓名：<span style="color:red;">*</span></p>
							<div class="name-line">
								<input type="text" required name="username" minlength="2"  class="usename"  value="" placeholder="请输入"/>
							</div>
						</div>
						<div class="inp-name">
							<p>您的手机号（必填项）：<span style="color:red;">*</span></p>
							<div class="name-line">
								<input type="text" required name="userphone" maxlength="11"  class="telphone"  value="" placeholder="请输入"/>
							</div>
						</div>
						<div class="out-box">
							<div class="automatic cur">
								<input type="radio" name="automatic" class="" value="" />
							</div>
							<span class="person">自动输入历史手机号</span>
							<span class="getPensentbtn" style="color: #1b78ce;">《个人信息授权书》</span>
						</div>
						<div>
							<button type="submit" class="get_stipend">免费获取测评结果</button>
						</div>
					</form>
					<!-- 咨询专区 -->
					<div class="Briefing">
						<div class="top">
							<span>2019年考试报名咨询专区</span>
						</div>
						<div class="box">
							<div>
								<a href="#">
									<div><img src="img/kao1.png" alt=""></div>
									<div>报考条件</div>
								</a>
							</div>
							<div>
								<a href="#">
									<div><img src="img/kao2.png" alt=""></div>
									<div>考试时间</div>
								</a>
							</div>
							<div>
								<a href="#">
									<div><img src="img/kao3.png" alt=""></div>
									<div>报考申请</div>
								</a>
							</div>
							<div>
								<a href="#">
									<div><img src="img/kao4.png" alt=""></div>
									<div>改革申请</div>
								</a>
							</div>
							<div>
								<a href="#">
									<div><img src="img/kao5.png" alt=""></div>
									<div>费用申请</div>
								</a>
							</div>
							<div>
								<a href="#">
									<div><img src="img/kao6.png" alt=""></div>
									<div>考试科目</div>
								</a>
							</div>
							<div>
								<a href="#">
									<div><img src="img/kao7.png" alt=""></div>
									<div>报考流程</div>
								</a>
							</div>
							<div>
								<a href="#">
									<div><img src="img/kao8.png" alt=""></div>
									<div>院校专业</div>
								</a>
							</div>
							<div>
								<a href="#">
									<div><img src="img/kao9.png" alt=""></div>
									<div>课程试听</div>
								</a>
							</div>
						</div>
						<!-- 点击更多查询 -->
						<div class="mose-btn kefu">
              <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
                <span style="color: #fff;">更多问题查询>></span>
              </a>
							
						</div>
					</div>
					<!-- 本次报名接受以下学历提升形式 -->
					<div class="benke">
						<table>
							 <caption>本次报名接受以下学历提升形式</caption>
							<tbody>
								<tr>
									<td>低学历升专科</td>
									<td><a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1" class="kefu">报考条件</a></td>
								</tr>
								<tr>
									<td>低学历升本科</td>
									<td><a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1" class="kefu">报考条件</a></td>
								</tr>
								<tr>
									<td>高中升专科</td>
									<td><a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1" class="kefu">报考条件</a></td>
								</tr>
								<tr>
									<td>高中升本科</td>
									<td><a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1" class="kefu">报考条件</a></td>
								</tr>
								<tr>
									<td>专科升本科</td>
									<td><a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1" class="kefu">报考条件</a></td>
								</tr>
								<tr>
									<td>其他形式</td>
									<td><a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1" class="kefu">报考条件</a></td>
								</tr>
							</tbody>
						</table>
						<div class="money">
							<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1"  class="kefu">免费定制专属方案</a>
						</div>
						<div class="school">
							<div class="one">
								<p><span>各地区</span><span class="red">“热门院校专业”</span></p>
								<span>报考信息一栏</span>
							</div>
							<div class="msg-box">
								<div>
									<a href="javascript:;">
										<img src="img/page61_07.jpg" alt="">
										<div class="school-list">
											<p class="school-name">985/211名校</p>
											<hr>
											<p>主考专业:行政管理</p>
										</div>
									</a>
								</div>
								<div>
									<a href="javascript:;">
										<img src="img/page63_11.jpg" alt="">
										<div class="school-list">
											<p class="school-name">985/211名校</p>
											<hr>
											<p>主考专业:工商管理</p>
										</div>
									</a>
								</div>
								<div>
									<a href="javascript:;">
										<img src="img/page63_14.jpg" alt="">
										<div class="school-list">
											<p class="school-name">985/211名校</p>
											<hr>
											<p>主考专业:财务管理</p>
										</div>
									</a>
								</div>
								<div>
									<a href="javascript:;">
										<img src="img/page64_07.jpg" alt="">
										<div class="school-list">
											<p class="school-name">985/211名校</p>
											<hr>
											<p>主考专业:艺术设计</p>
										</div>
									</a>
								</div>
							</div>
							<!-- 底部banner -->
							<div class="f-banner">
								<!-- <img src="img/images/jiang_02.png" alt="这是一张图片"> -->
							</div>
							<div>
								<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1" class="more-btn kefu">更多院校专业咨询>></a>
							</div>
						</div>
					</div>
				</div>
				<div class="footer">
					<div class="copyRight">
						<p><span>广州博霖教育科技有限公司</span></p>
						<p><span>粤ICP备19060809号</span></p>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- 弹框 -->
		<!-- 个人信息授权弹框 getResultModel-->
		<div class="motal None">
		</div>
		<div class="getResultModel None" >
			<span class="close" style="font-weight: 300;"></span>
			<h2>个人信息授权书</h2>
			<div class="msg_box">
				<p>
					尊敬的用户，您选择使用“自动输入历史手机号”功
					能后，您同意本平台在法律允许的范围内，收集您的
					手机号码，您已知晓并同意在您下次浏览广告页面
					时，我们会帮您预先填写您上次输入的历史手机号，
					您的手机号码仅会用于在广告页面的预填充，且只有
					您点击提交按钮之后信息才会传递给广告主商家。
				</p>
			</div>
		</div>
		
		<!-- 手机验证弹框 -->
		<div class="phoneModel None">
			<span class="close" style="font-weight: 300;"></span>
			<p style="color: #333333;padding: 10px 0;font-size: 15px;">手机验证</p>
			<div style="font-size: 12px;padding-bottom: 15px;">
				<span>短信验证码已发送至</span>
				<span class="telphone" style="font-size: 14px;"></span>
			</div>
			<form action="" method="post">
				<div style="position: relative;line-height: 38px;">
					<input type="text" name="ma" class="ma" value="" placeholder="请输入短信验证码">
					<span style="color: #007AFF;position: absolute;top: 0px;right: 7px;cursor: pointer;font-size: 13px;" class="getMaNum">获取验证码</span>
				</div>
				<input type="submit" value="确定" style="width: 90%;border-radius: 20px;" class="sendreg"/>
			</form>
		</div>
		
		<script src="js/jquery2.01.js"></script>
		<script src="ydui/js/ydui.js"></script>
		<script src="js/comment.js"></script>
		<script>
     
			// 客服
			$(function(){
				$('.kefu').on('click',function(){
					var _53code=document.createElement("script");_53code.src = '//tb.53kf.com/code/code/c762816c46f81ba33560df7feac9ded1/1'; var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(_53code, s);
				})
				$(window).scroll(function(){
					// 页面向下滚动的最小距离时客服框固定定位在底部; fied
					//  滚动高度 + 视口高度 = 文档高度
					// console.log($('.copyRight').position().top)
					
					var copyRight_height = $('.copyRight').height(); //页眉高度
					var doc_scrollTop = $(document).scrollTop(); //页面滚动的高度
					var win_height = $(window).height() //视口高度
					var doc_height = $(document).height(); //页面高度
		
					// 如果页面滚动高度大于页面高度 减去页面高度时时,设置它为相对定位
					if(doc_scrollTop >= (doc_height - win_height -copyRight_height - $('.customer-service').height())){
						$('.customer-service').removeClass('fied');
					}else{
						$('.customer-service').addClass('fied');
					}
					
				})
				
				// automatic 勾选自动输入历史手机号码
				$('.automatic').on('click',function(){
					
					if(!$(this).hasClass('cur')){
						$(this).addClass('cur')
					}else{
						$(this).removeClass('cur')
					}
				})
				
				// 个人信息弹框
				// 打开事件 关闭事件
				OpenMsg('.getPensentbtn','.getResultModel')
				CloseMsg('.close','.getResultModel')
				
				var dialog = YDUI.dialog;
				var sourceLink  = window.location.href; //获取地址,用于提交数据平台的来源的平台
        		var ma = "123";
				// 关闭全部弹框
				$('.close').on('click',function(){
					Hide_motai(['.getResultModel','.phoneModel','.motal'])
				})
				//点击免费获取奖学金验证通过发送请求显示验证码弹框  phoneModel
				$('.get_stipend').on('click',function(){
					// 判断单选框是否勾选
					
					var bol1 = isRadioChecked($('.xue'));
					var bol2 = isRadioChecked($('.age'));
					var bol3 = isRadioChecked($('.way'));
					
					var myRegExp = MyRegExp(); //验证对象   telphone usename
					
					var bol5 = myRegExp.isPhone($.trim($('.telphone').val()));
					// var bol4 = myRegExp.isPhone($.trim($('.usename').val()));
					
					var timer = null; //定时器
					var number = 60;
          
          
           var stp =  $('.div').offset().top;
          $(document).scrollTop(stp)
          
          
					if(!bol1){
						dialog.alert('请勾选你最高学历！')
						return false;
					}
					if(!bol2){
						dialog.alert('请勾选你的年龄！')
						return false;
					}
					if(!bol3){
						dialog.alert('请勾选你提升学历的目的！')
						return false;
					}
					if(!$('.usename').val()){
						dialog.alert('请输入您的姓名！')
						return false;
					}
					if(!bol5){
						dialog.alert('请输入正确的11位手机号码！')
						return false;
					}
					
          
					if(bol1 && bol2 && bol3 && bol5){
						
						console.log('可以发送验证码请求了 ！') 
						
						// 显示手机弹框 手机验证弹框  motal phoneModel
						Show_motai(['.motal','.phoneModel'])
						//显示发送的手机号码 telphone
            $.post("../../data/autoCode/getCode",{customerPhone:$('input[name=userphone]').val()},function(res){
              // ma
            	 ma=res.ma
            })
						$('.phoneModel .telphone').html(strchange($('.name-line .telphone').val()));
						
						timer = setInterval(function(){
							number--;
							if(number<=0){
								number = 60;
								clearInterval(timer);
								$('.getMaNum').css('color','#1b78ce').html('获取验证码')
							}else{
								$('.getMaNum').css('color','#999').html('重新获取('+ number +')')
							}
						},1000)
					}
					
				//点击获取验证码按钮
					$('.getMaNum').on('click',function(){
						if(number != 60){ //说明还在计时间
							return false;
						}
						timer = setInterval(function(){
							number--;
							if(number<=0){
								number = 60;
								clearInterval(timer);
								$('.getMaNum').css('color','#1b78ce').html('获取验证码')
							}else{
								$('.getMaNum').css('color','#999').html('重新获取('+ number +')')
							}
						},1000)
            
						$.post("../../data/autoCode/getCode",{customerPhone:$('input[name=userphone]').val()},function(res){
              // ma
							 ma=res.ma
            })
					})
					
					// 提交验证码进行验证操作
					$('.sendreg').on('click',function(){
						// 验证码不可为空
						if(!$('.ma').val()){
							dialog.alert('验证码不可为空！')
							return false;
						}
						// 验证码不正确
						if($('.ma').val() != ma){
							dialog.alert('验证码不正确！')
							return false;
						}
						
						if($('.ma').val() === ma){
							// ajax 提交
              
							var data = {
									educationNow: $('input[name=xue]:checked').val(),
									ageGroups: $('input[name=age]:checked').val(),
									objective: $('input[name=way]:checked').val(),
									customerName: $('input[name=username]').val(),
							  	customerPhone: $('input[name=userphone]').val(),
							  	sourceLink:document.referrer ? document.referrer : window.location.href,
							  	fromPlatform:"广点通"
							}
							console.log(data)
              $.ajax({
                url: "../../data/customerInfromation/insertCustomerInfromation",
                data: data,
                type: "POST",
                success: function(res) {
                	 $('.phoneModel').hide();
                     $('.motal').hide();
                   gdt('track', 'REGISTER', {'key1': 'value1', 'key2': 'value2'});
                 gdt('track', 'CONSULT', {'key1': 'value1', 'key2': 'value2'});
                 gdt('track', 'RESERVATION', {'key1': 'value1', 'key2': 'value2'});
                  dialog.alert('提交成功，感谢您的回答！');
                  
                },
                error: function() {
                  console.log('提交失败')
                  dialog.alert('提交失败！')
                }
              })
							dialog.alert('提交成功，感谢您的回答！')
							return false;
						}
						
						
						return false;
					})
					
					//关闭弹框清除定时器
					$('.close').on('click',function(){
						clearInterval(timer);
						$('.ma').val("");
						
					})
					
					console.log(bol1,bol2,bol3)
					
					return false;
				})
			})
			
			
		</script>
	</body>
</html>
