<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>学历推广</title>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/Education-Promotion.css" />
    <link rel="stylesheet" type="text/css" href="mui/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="ydui/css/ydui.css" />
    <script src="js/changHtmlFontSize.js"></script>
    <!-- <script>(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/10187673/1";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();</script> -->
    <script>
        window._agl = window._agl || [];
        (function () {
            _agl.push(
                ['production', '_f7L2XwGXjyszb4d1e2oxPybgD']
            );
            (function () {
                var agl = document.createElement('script');
                agl.type ='text/javascript';
                agl.async = true;
                agl.src = 'https://fxgate.baidu.com/angelia/fcagl.js?production=_f7L2XwGXjyszb4d1e2oxPybgD';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(agl, s);
            })();
        })();
        </script>
  </head>
  <body>
    <div class="app">
      <div class="head">
        <div class="m-slider" id="J_Slider">
          <div class="slider-wrapper">
            <div class="slider-item kefu">
              <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
                <img src="img/tuiguang_01.png">
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- 内容 -->
      <div class="main">
        <form action="" method="post" class="main_form">
          <p>
            <span class="div">1、您的最高学历是（单选）</span>
            <span style="color: red;">*</span>
          </p>
          <div class="mui_card mui-input-group">
            <div class="mui-input-row mui-radio mui-left">
              <label>初中以下<input name="xue" value="初中以下" type="radio" class="Education"></label>
            </div>
            <div class="mui-input-row mui-radio mui-left">
              <label>高中<input name="xue" value="高中" type="radio" class="Education"></label>
            </div>
            <div class="mui-input-row mui-radio mui-left">
              <label>中专/中技<input name="xue" value="中专/中技" type="radio" class="Education"></label>
            </div>
            <div class="mui-input-row mui-radio mui-left">
              <label>大专<input name="xue" value="大专" type="radio" class="Education"></label>
            </div>
          </div>
          <p>
            <span>2、您的年龄（单选）</span>
            <span style="color: red;">*</span>
          </p>
          <div class="mui_card mui-input-group">
            <div class="mui-input-row mui-radio mui-left">
              <label>18-23<input name="age" value="18-23" type="radio" class="Age"></label>
            </div>
            <div class="mui-input-row mui-radio mui-left">
              <label>24-29<input name="age" value="24-29" type="radio" class="Age"></label>
            </div>
            <div class="mui-input-row mui-radio mui-left">
              <label>30-35<input name="age" value="30-35" type="radio" class="Age"></label>
            </div>
            <div class="mui-input-row mui-radio mui-left">
              <label>35以上<input name="age" value="35以上" type="radio" class="Age"></label>
            </div>
          </div>
          <p>
            <span>3、您的户籍（单选）</span>
            <span style="color: red;">*</span>
          </p>
          <div class="mui_card mui-input-group">
            <div class="mui-input-row mui-radio mui-left">
              <label>广东户籍<input name="way" type="radio" value="广东户籍" class="HouseholdRegister"></label>
            </div>
            <div class="mui-input-row mui-radio mui-left">
              <label>非广东户籍<input name="way" type="radio" value="非广东户籍" class="HouseholdRegister"></label>
            </div>
          </div>
          <p>
            <span>4、您的姓名:</span>
            <span style="color: red;">*</span>
          </p>
          <div style="padding-top: 5px;">
            <input type="text" name="username" placeholder="请输入" class="personName" maxlength="8">
          </div>
          <p>
            <span>5、您的手机号（必填项）:</span>
            <span style="color: red;">*</span>
          </p>
          <div style="padding-top: 5px;">
            <input type="text" name="userphone" placeholder="请输入" class="phone" maxlength="11">
          </div>
          <div class="item citem">
            <div class="p-cheack">
              <input type="radio" name="" id="" value="" checked class="check cur" />
            </div>
            <span style="margin-left: 20px;font-size: 0.16rem;">自动输入历史手机号</span>
            <a href="javascript:;" class="person" style="font-size: 0.16rem;color: #007AFF;cursor: pointer;">《个人信息授权书》</a>
          </div>
          <div class="m-button">
            <button type="button" class="getResults">立即获取资料</button>
          </div>
        </form>
      </div>
      <div>
        <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
          <img src="img/footerImg_033333_01.png" width="100%">
        </a>
        
      </div>
      <div class="footer">
        <div class="copyRight">
          <p><span>广州博霖教育科技有限公司</span></p>
          <p><span>粤ICP备19060809号</span></p>
        </div>
      </div>
    </div>

    <!-- 个人信息授权弹框 getResultModel-->
    <div class="motal None">
    </div>
    <div class="getResultModel None">
      <span class="close" style="font-weight: 300;"></span>
      <h2>个人信息授权书</h2>
      <div class="msg_box">
        <p>
          尊敬的用户，您选择使用“自动输入历史手机号”功
          能后，您同意本平台在法律允许的范围内，收集您的
          手机号码，您已知晓并同意在您下次浏览广告页面
          时，我们会帮您预先填写您上次输入的历史手机号，
          您的手机号码仅会用于在广告页面的预填充，且只有
          您点击提交按钮之后信息才会传递给广告主商家。
        </p>
      </div>
    </div>

    <!-- 手机验证弹框 -->
    <div class="phoneModel None">
      <span class="close" style="font-weight: 300;"></span>
      <p style="color: #333333;padding: 10px 0;font-size: 15px;">手机验证</p>
      <div style="font-size: 12px;padding-bottom: 15px;">
        <span>短信验证码已发送至</span>
        <span class="telphone" style="font-size: 14px;"></span>
      </div>
      <form action="" method="post">
        <div style="position: relative;line-height: 38px;">
          <input type="text" name="ma" class="ma" value="" placeholder="请输入短信验证码">
          <span style="color: #007AFF;position: absolute;top: 0px;right: 7px;cursor: pointer;font-size: 13px;" class="getMaNum">获取验证码</span>
        </div>
        <input type="submit" value="确定" style="width: 90%;border-radius: 20px;" class="sendreg" />
      </form>
    </div>


    <script src="js/jquery2.01.js"></script>
    <script src="mui/js/mui.min.js"></script>
    <script src="ydui/js/ydui.js"></script>
    <script src="js/comment.js"></script>
    <script>
       
      //客服
      $('.kefu').on('click', function() {
        var _53code = document.createElement("script");
        _53code.src = '//tb.53kf.com/code/code/c762816c46f81ba33560df7feac9ded1/1';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(_53code, s);
      })
      $(function() {
        var dialog = YDUI.dialog;
        //var sourceURL = getUrlString(); //获取地址,用于提交数据平台的来源的平台
        var sourceLink  = window.location.href; //获取地址,用于提交数据平台的来源的平台
        
        // 点击立即获取资料进行验证请求
        $('.getResults').on('click', function() {
          var msgrArr = ['最高学历未勾选', '年龄段未勾选', '户籍未勾选', '请填写的您的姓名', '请填写您的11位手机号码'];
          var $Educations = $('.Education');
          var $Ages = $('.Age');
          var $HouseholdRegisters = $('.HouseholdRegister');
          var $Names = $('.personName');
          var $Phones = $('.phone');
          var myreg = /^[1][3,4,5,7,8][0-9]{9}$/;
          
          var timer = 0;
          var timenum = 60;
          var ma = "1234"; //短信验证码

           var stp =  $('.div').offset().top;
           $(document).scrollTop(stp)

          if (Boolean_Result($Educations) === false) {
            dialog.alert(msgrArr[0])
            return false;
          }
          if (Boolean_Result($Ages) === false) {
            dialog.alert(msgrArr[1])
            return false;
          }
          if (Boolean_Result($HouseholdRegisters) === false) {
            dialog.alert(msgrArr[2])
            return false;
          }
          //  personName phone
          if (!$.trim($Names.val())) {
            console.log(454545)
            dialog.alert(msgrArr[3])
            return false;
          }
          if (!$.trim($Phones.val())) {
            console.log(454545)
            dialog.alert(msgrArr[4])
            return false;
          }

          if (!myreg.test($.trim($Phones.val()))) {
            dialog.alert('请输入正确的11位有效手机号码')
            return false;
          }

          var data = {
        		  educationNow: $('input[name=xue]:checked').val(),
        		  ageGroups: $('input[name=age]:checked').val(),
        		  customerLocal: $('input[name=way]:checked').val(),
        		  customerName: $('input[name=username]').val(),
        		  customerPhone: $('input[name=userphone]').val(),
            	sourceLink:document.referrer ? document.referrer : window.location.href,
            	fromPlatform:"百度"
         
          }
          // ajax 提交验证码
          $.ajax({
            url: "../../data/customerInfromation/insertCustomerInfromation",
            data: data,
            type: "POST",
            success: function(res) {
                 
            	  $('.phoneModel').hide();
                $('.motal').hide();
                 window._agl && window._agl.push(['track', ['success', {t: 3}]])
                dialog.alert('提交成功，感谢您的回答！');
            },
            error: function() {
              console.log('提交失败')
              dialog.alert('提交失败！')
            }
          })

        

          show_tel() //显示****手机号码
         /*  Show_motai(['.motal', '.phoneModel']) //显示弹框 */
          // 发送手机号码到后台
         /*  $.post("../../data/autoCode/getCode", {
        	  customerPhone: $Phones.val()
          }, function(res) {
            // ma
			 ma=res.ma
          }) */

         /*  timer = setInterval(function() {
            timenum--;
            if (timenum <= 0) {
              timenum = 60;
              $('.getMaNum').text('获取验证码').css({
                color: '#007AFF'
              })
              ma = 0;
              clearInterval(timer);
            } else {
              $('.getMaNum').text('重新获取(' + timenum + ')').css({
                color: '#999'
              })
            }

          }, 1000) */

          // 确定验证码 getMaNum
          $('.sendreg').on('click', function() {
            var Ma = $.trim($('.ma').val())

            $('.ma').val("") //清空输入框

         /*    if (!Ma) {
              dialog.alert('请输入验证码')
              return false;
            }
            if (Ma != ma) { //输入的验证码不正确
              dialog.alert('输入的验证码不正确')
              return false;
            } */
             
            
           
             

            return false;
          })

          // 获取验证码
          $('.getMaNum').on('click', function() {
            if (timenum != 60) {
              return false;
            }
            if (timenum == 60) {
              timer = setInterval(function() {
                timenum--;
                if (timenum <= 0) {
                  timenum = 60;
                  $('.getMaNum').text('获取验证码').css({
                    color: '#007AFF'
                  })
                  ma = 0; //验证码过期
                  clearInterval(timer);
                } else {
                  $('.getMaNum').text('重新获取(' + timenum + ')').css({
                    color: '#999'
                  })
                }

              }, 1000)
              // ajax 请求验证码
              // 发送手机号码到后台
              $.post("../../data/autoCode/getCode", {
            	  customerPhone: $Phones.val()
              }, function(res) {
                // ma
				ma=res.ma
              })
            }

          })

          return false;
        })

        // 选择自动勾选历史手机
        $('.p-cheack').on('click', function() {
          if ($('.p-cheack input').hasClass('cur')) {
            $('.p-cheack input').removeClass('cur');
            console.log($('.check').prop('checked'))
          } else {
            $('.p-cheack input').addClass('cur')
          }

        })



        // 个人信息弹框操作  motal getResultModel phoneModel 
        $('.person').on('click', function() {
          Show_motai(['.motal', '.getResultModel'])
        })
        //关闭弹框
        $('.close').on('click', function() {
          Hide_motai(['.motal', '.getResultModel', '.phoneModel'])
        })


      })



      //  实现一个集合组,判断是否有一个是你正确的,那结果就是正确的;  arrClass 是jq 集合对象
      // Array.prototype.slice.call($('.gradation'))
      function Boolean_Result(ArrObj) {
        var ArrObjs = Array.prototype.slice.call(ArrObj); //把jq 集合转换为数组
        return ArrObjs.some(function(el) {
          return $(el).prop('checked') === true;
        })
      }


      //显示手机号码过滤
      function show_tel() {
        var tels = [];
        var $telObj = $('.telphone');
        $telObj.text(strchange($.trim($('.phone').val())))
      }
    </script>
  </body>
</html>
