<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>学历提升测试推广</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<!-- <meta content="telephone=no" name="format-detection"> -->
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="x-rim-auto-match" content="none">
		<link rel="stylesheet" type="text/css" href="ydui/css/ydui.css" />
		<link rel="stylesheet" type="text/css" href="mui/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/qualifcations9.css" />
		<script src="js/changHtmlFontSize.js"></script>
		<!-- <script>(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/10187673/1";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();</script> -->
    <script>
        window._agl = window._agl || [];
        (function () {
            _agl.push(
                ['production', '_f7L2XwGXjyszb4d1e2oxPybgD']
            );
            (function () {
                var agl = document.createElement('script');
                agl.type ='text/javascript';
                agl.async = true;
                agl.src = 'https://fxgate.baidu.com/angelia/fcagl.js?production=_f7L2XwGXjyszb4d1e2oxPybgD';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(agl, s);
            })();
        })();
        </script>
	</head>
	<body>
		<div class="app">
			<div class="nav">
				<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1" class="kefu">学习费用</a>
				<span>|</span>
				<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1" class="kefu">考证时间</a>
				<span>|</span>
				<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1" class="kefu">快速考证</a>
				<span>|</span>
				<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1" class="kefu">报考政策</a>
			</div>
			<div class="banner">
				<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
					<img src="img/img9/9_1_02.jpg" alt="">
				</a>
			</div>
			<div class="content">
				<div class="title_box">
					<div class="time_box">
						<div class="t1">
							<span>八种升学方式，零基础报读</span>
						</div>
						<div class="t2 kefu">
							<div>
                 <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
                  <span style="color: #fff;">无学历升专科</span>
                 </a>
							</div>
							<div>
                <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
                 <span style="color: #fff;">高中升专科</span>
                </a>
							</div>
							<div>
                <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
                 <span style="color: #fff;">专科升本科</span>
                </a>
							</div>
							<div>
                <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
                 <span style="color: #fff;">无学历升本科</span>
                </a>
							</div>
							<div>
                <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
                 <span style="color: #fff;">高中升本科</span>
                </a>
								
							</div>
							<div>
                <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
                 <span style="color: #fff;">第二学历</span>
                </a>
								
							</div>
							<div>
                <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
                 <span style="color: #fff;">专本套读</span>
                </a>
								
							</div>
							<div>
                 <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
                 <span style="color: #fff;">上班族升本科</span>
                </a>
								
							</div>
						</div>
						<div class="t3 kefu">
              <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1"><button>低学历本科通道</button></a>
						</div>
						<div>
							<span>目前已经有2588人参与活动</span>
						</div>
					</div>
				</div>
				<!-- 测一侧 -->
				<div class="form_box div">
					<form class="mui-input-group myform">
						<div class="inp-name">
							<p class="div">输入您的姓名:<span style="color:red;">*</span></p>
							<div class="name-line">
								<input type="text" required name="username" minlength="2" class="usename" value="" placeholder="请输入" />
							</div>
						</div>
						<div class="inp-name">
							<p>输入您的电话:<span style="color:red;">*</span></p>
							<div class="name-line">
								<input type="text" required name="userphone" maxlength="11" class="telphone" value="" placeholder="请输入" />
							</div>
						</div>
						<div class="out-box">
							<div class="automatic cur">
								<input type="radio" name="automatic" class="" value="" />
							</div>
							<span class="person">自动输入历史手机号</span>
							<span class="getPensentbtn" style="color: #1b78ce;">《个人信息授权书》</span>
						</div>
						<div>
							<button type="submit" class="get_stipend">立即提交</button>
						</div>
					</form>
				</div>
			</div>
			<!-- 广东高校专业报考信息一览 -->
			<div class="benke">
				<h2>广东高校专业报考信息一览</h2>
				<div class="box box1">
					<div class="img-box">
						<img src="img/img9/9_bgc1.png" alt="">
					</div>
					<div class="content">
						<p>
							<span>报考院校:设计类学院</span>
						</p>
						<p>
							<span>主考专业：设计</span>
						</p>
						<div>
							 <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
							  <button class="pass kefu">如何通过>></button>
							</a>
						</div>
					</div>
				</div>
				<div class="box box2">
					<div class="img-box">
						<img src="img/img9/9_bgc1.png" alt="">
					</div>
					<div class="content">
						<p>
							<span>报考院校:设计类学院</span>
						</p>
						<p>
							<span>主考专业：设计</span>
						</p>
						<div>
							 <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
							  <button class="pass kefu">如何通过>></button>
							</a>
						</div>
					</div>
				</div>
				<div class="box box1">
					<div class="img-box">
						<img src="img/img9/9_bgc1.png" alt="">
					</div>
					<div class="content">
						<p>
							<span>报考院校:设计类学院</span>
						</p>
						<p>
							<span>主考专业：设计</span>
						</p>
						<div>
              <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
                <button class="pass kefu">如何通过>></button>
              </a>
						</div>
					</div>
				</div>
			</div>
			<!-- 2019年   成人学历常见问题 -->
			<div class="error">
				<div class="title">
					<span>2019年 成人学历常见问题</span>
				</div>
				<ul class="getError">
					<li>
						<span>1、需要多少钱，多久可以考到证？</span>
            <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
              <button type="button" class="getError_btn">获取解答</button>
            </a>
						
					</li>
					<li>
						<span>2、基础差能考下来吗？</span>
						<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
						  <button type="button" class="getError_btn">获取解答</button>
						</a>
					</li>
					<li>
						<span>3、只有初中学历，可以报名吗？</span>
						<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
						  <button type="button" class="getError_btn">获取解答</button>
						</a>
					</li>
					<li>
						<span>4、自考本科需要什么条件？</span>
						<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
						  <button type="button" class="getError_btn">获取解答</button>
						</a>
					</li>
					<li>
						<span>5、成人高考需要什么报考条件？</span>
						<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
						  <button type="button" class="getError_btn">获取解答</button>
						</a>
					</li>
					<li>
						<span>6、上班族没时间怎么练习？</span>
						<button type="button" class="getError_btn">获取解答</button>
					</li>
					<li>
						<span>7、自考/成考/远程/函授有区别吗？</span>
						<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
						  <button type="button" class="getError_btn">获取解答</button>
						</a>
					</li>
					<li>
						<span>8、自考/成考/远程那种学历认可度高？</span>
						<a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
						  <button type="button" class="getError_btn">获取解答</button>
						</a>
					</li>
				</ul>
				<div class="free-access" style="background: #369ad9;">
          <a style="color: #fff;" href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
           <span>在线咨询</span>
          </a>
				</div>
			</div>
			<div class="footer">
				<div class="copyRight">
					<p>广州博霖教育科技有限公司</p>
					<p class="bt">粤ICP备19060809号</p>
				</div>
			</div>
		</div>
		</div>


		<!-- 弹框 -->
		<!-- 申请弹框 -->
		<div class="appy_box None">
			<div class="form-box">
				<img src="img/img7/layerwj.png" alt="" class="bg">
				<form action="" method="post" class="appy_box_form">
					<div>
						<input type="text" class="username" name="username" placeholder="请输入您的真实姓名">
					</div>  
					<div>
						<input type="text" class="phone" name="username" placeholder="请输入您的真实手机号码">
					</div>
					<div class="send_btn">
						<p class="one">【免费领取】</p>
						<p>获取多种形式资料</p>
						<button type="submit" class="appy_box_submit">提交申请</button>
					</div>
				</form>
				<img src="img/img7/guanbi.png" class="appy_box_close">
			</div>
		</div>
		<!-- 个人信息授权弹框 getResultModel-->
		<div class="motal None">
		</div>
		<div class="getResultModel None">
			<span class="close" style="font-weight: 300;"></span>
			<h2>个人信息授权书</h2>
			<div class="msg_box">
				<p>
					尊敬的用户，您选择使用“自动输入历史手机号”功
					能后，您同意本平台在法律允许的范围内，收集您的
					手机号码，您已知晓并同意在您下次浏览广告页面
					时，我们会帮您预先填写您上次输入的历史手机号，
					您的手机号码仅会用于在广告页面的预填充，且只有
					您点击提交按钮之后信息才会传递给广告主商家。
				</p>
			</div>
		</div>

		<!-- 手机验证弹框 -->
		<div class="phoneModel None">
			<span class="close" style="font-weight: 300;"></span>
			<p style="color: #333333;padding: 10px 0;font-size: 15px;">手机验证</p>
			<div style="font-size: 12px;padding-bottom: 15px;">
				<span>短信验证码已发送至</span>
				<span class="telphone" style="font-size: 14px;"></span>
			</div>
			<form action="" method="post">
				<div style="position: relative;line-height: 38px;">
					<input type="text" name="ma" class="ma" value="" placeholder="请输入短信验证码">
					<span style="color: #007AFF;position: absolute;top: 0px;right: 7px;cursor: pointer;font-size: 13px;" class="getMaNum">获取验证码</span>
				</div>
				<input type="submit" value="确定" style="width: 90%;border-radius: 20px;" class="sendreg" />
			</form>
		</div>


		<script src="js/jquery2.01.js"></script>
		<script src="ydui/js/ydui.js"></script>
		<script src="js/comment.js"></script>
		<!-- <script> (function () {var _53code=document.createElement("script");_53code.src = '//tb.53kf.com/code/code/c762816c46f81ba33560df7feac9ded1/1'; var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(_53code, s);})(); </script> -->
		<script>
			$(function() {
				// automatic 勾选自动输入历史手机号码
				$('.automatic').on('click', function() {
					if (!$(this).hasClass('cur')) {
						$(this).addClass('cur')
					} else {
						$(this).removeClass('cur')
					}
				})
				
				// 个人信息弹框
				// 打开事件 关闭事件
				OpenMsg('.getPensentbtn', '.getResultModel')
				CloseMsg('.close', '.getResultModel')

				var dialog = YDUI.dialog;
				 var sourceLink  = window.location.href; //获取地址,用于提交数据平台的来源的平台
        		var ma = "123";
        
				// 关闭全部弹框
				$('.close').on('click', function() {
					Hide_motai(['.getResultModel', '.phoneModel', '.motal'])
				})
				//点击免费获取奖学金验证通过发送请求显示验证码弹框  phoneModel
				$('.get_stipend').on('click', function() {

					//验证对象   telphone usename

					var bol5 = MyRegExp.isPhone($.trim($('.telphone').val()));
					// var bol4 = myRegExp.isPhone($.trim($('.usename').val()));
          
					var timer = null; //定时器
					var number = 60;
          
           var stp =  $('.div').offset().top;
          $(document).scrollTop(stp)

					if (!$('.usename').val()) {
						dialog.alert('请输入用户名！')
						
						return false;
					}
					if (!bol5) {
						dialog.alert('请输入正确的11位手机号码！')
						return false;
					}
          
					if (bol5) {
						console.log('可以发送验证码请求了 ！')
						// 显示手机弹框 手机验证弹框  motal phoneModel
						Show_motai(['.motal', '.phoneModel'])
						//显示发送的手机号码 telphone
            $.post("../../data/autoCode/getCode",{customerPhone:$('input[name=userphone]').val()},function(res){
              // ma
              ma=res.ma
            })
						$('.phoneModel .telphone').html(strchange($('.name-line .telphone').val()));
	
						timer = setInterval(function() {
							number--;
							if (number <= 0) {
								number = 60;
								clearInterval(timer);
								$('.getMaNum').css('color', '#1b78ce').html('获取验证码')
							} else {
								$('.getMaNum').css('color', '#999').html('重新获取(' + number + ')')
							}
						}, 1000)
					}
					//点击获取验证码按钮
					$('.getMaNum').on('click', function() {
						if (number != 60) { //说明还在计时间
							return false;
						}
						timer = setInterval(function() {
							number--;
							if (number <= 0) {
								number = 60;
								clearInterval(timer);
								$('.getMaNum').css('color', '#1b78ce').html('获取验证码')
							} else {
								$('.getMaNum').css('color', '#999').html('重新获取(' + number + ')')
							}
						}, 1000)
            
             $.post("../../data/autoCode/getCode",{customerPhone:$('input[name=userphone]').val()},function(res){
              // ma
              ma=res.ma
            })
					})

					// 提交验证码进行验证操作
					$('.sendreg').on('click', function() {
						// 验证码不可为空
						if (!$('.ma').val()) {
							dialog.alert('验证码不可为空！')
							return false;
						}
						// 验证码不正确
						if ($('.ma').val() != ma) {
							dialog.alert('验证码不正确！')
							return false;
						}

						if ($('.ma').val() === ma) {
							// ajax 提交
							 var data = {
									 customerName: $('input[name=username]').val(),
									 customerPhone: $('input[name=userphone]').val(),
									 sourceLink:document.referrer ? document.referrer : window.location.href,
									 fromPlatform:"百度"
							} 
							console.log(data);
							$.ajax({
							  url: "../../data/customerInfromation/insertCustomerInfromation",
							  data: data,
							  type: "POST",
							  success: function(res) {
								  $('.phoneModel').hide();
				                  $('.motal').hide();
                           window._agl && window._agl.push(['track', ['success', {t: 3}]])
							    dialog.alert('提交成功，感谢您的回答！');
							  },
							  error: function() {
							    console.log('提交失败')
							    dialog.alert('提交失败！')
							  }
							})
							return false;
						}

						return false;
					})
					
					//关闭弹框清除定时器
					$('.close').on('click', function() {
						clearInterval(timer);
						$('.ma').val("");

					})

					// console.log(bol1, bol2, bol3)

					return false;
				})
			})


			// 弹框申请
			var MyRegExp = MyRegExp()
			
			$(function() {
				var dialog = YDUI.dialog;
				// enroll mose-btn getError_btn free-access
				$('.enroll,.mose-btn,.getError_btn,.free-access,.kefu').on('click', function() {
					var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/10187673/1";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);
					// var _53code=document.createElement("script");_53code.src = '//tb.53kf.com/code/code/c762816c46f81ba33560df7feac9ded1/1'; var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(_53code, s);
				})
				$('.appy_box_submit').on('click', function() {
					// appy_box 
					// console.log(MyRegExp)
					var name = $.trim($('.appy_box .username').val());
					var phone = $.trim($('.appy_box .phone').val());
					
					var isPhone = MyRegExp.isPhone(phone);
          
					console.log(MyRegExp)
					
					if(!name){
						dialog.alert('姓名不可为空！');
						return false;
					}
					if(!phone){
						dialog.alert('手机不可为空！');
						return false;
					}
					if(!isPhone){
						dialog.alert('请输入正确的11位手机号码！');
						return false;
					}
					
					dialog.alert('提交成功！');
					return false;
				})
				// guanbi appy_box motal
				$('.appy_box_close').on('click', function() {
					Hide_motai(['.appy_box', '.motal']);
				})
				var timeOut = null;
				// timeOut = setTimeout(function(){
				// 	$('.motal').addClass('Show');
				// 	$('.appy_box').addClass('Show');
				// },1000)
			})
		</script>
	</body>
</html>
