<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>学历提升测试推广</title>
		<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
		<meta content="yes" name="apple-mobile-web-app-capable">
		<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<meta content="telephone=no" name="format-detection">
		<link rel="stylesheet" type="text/css" href="ydui/css/ydui.css" />
		<link rel="stylesheet" type="text/css" href="mui/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="css/qualifcations.css" />
		<script src="js/changHtmlFontSize.js"></script>
		<script>
        window._agl = window._agl || [];
        (function () {
            _agl.push(
                ['production', '_f7L2XwGXjyszb4d1e2oxPybgD']
            );
            (function () {
                var agl = document.createElement('script');
                agl.type ='text/javascript';
                agl.async = true;
                agl.src = 'https://fxgate.baidu.com/angelia/fcagl.js?production=_f7L2XwGXjyszb4d1e2oxPybgD';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(agl, s);
            })();
        })();
        </script>
	</head>
	<body>
		<div class="app">
			<div class="banner">
        <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
          <img src="img/banner3_01.png" alt="">
        </a>
				
			</div>
			<div class="content">
				<div class="title_box">
					<img src="img/xue25.png">
					<p>测一测你是哪种学历提升方式</p>
				</div>
				<div class="form_box">
					<form class="mui-input-group myform">
						<p>1、您的最高学历是（单选）<span style="color:red;">*</span></p>
						<div class="item div">
							<div class="mui-input-row mui-radio mui-left">
								<label>初中</label>
								<input name="xue" type="radio" value="初中" class="xue" required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>高中</label>
								<input name="xue" type="radio" value="高中" class="xue"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>中专/中技</label>
								<input name="xue" type="radio" value="中专/中技" class="xue"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>大专</label>
								<input name="xue" type="radio" value="大专" class="xue"  required>
							</div>
						</div>
						<p>2、您的年龄（单选）<span style="color:red;">*</span></p>
						<div class="item">
							<div class="mui-input-row mui-radio mui-left">
								<label>18-23</label>
								<input name="age" type="radio"   value="18-23"  class="age"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>24-29</label>
								<input name="age" type="radio"  value="24-29"  class="age"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>30-35</label>
								<input name="age" type="radio"  value="30-35"   class="age"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>35以上</label>
								<input name="age" type="radio" value="35以上" class="age" required>
							</div>
						</div>
						<p>3、您想要的提升方式（单选）<span style="color:red;">*</span></p>
						<div class="item">
							<div class="mui-input-row mui-radio mui-left">
								<label>网络教育</label>  
								<input name="way" type="radio" value="网络教育"  class="way" required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>课堂面授</label>
								<input name="way" type="radio" value="课堂面授"  class="way"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>在家自学</label>
								<input name="way" type="radio"  value="在家自学" class="way"  required>
							</div>
							<div class="mui-input-row mui-radio mui-left">
								<label>其他</label>
								<input name="way" type="radio" value="其他"  class="way" required>
							</div>
						</div>
						<div class="inp-name">
							<p>您的姓名：<span style="color:red;">*</span></p>
							<div class="name-line">   
								<input type="text" required name="username" minlength="2" class="usename" value="" placeholder="请输入"/>
							</div>
						</div>
						<div class="inp-name">
							<p>您的手机号（必填项）：<span style="color:red;">*</span></p>
							<div class="name-line">
								<input type="text" required name="userphone" maxlength="11"  class="userphone"  value="" placeholder="请输入"/>
							</div>
						</div>
						<div class="out-box">
							<div class="automatic cur">
								<input type="radio" name="automatic" class="" value="" />
							</div>
							<span class="person">自动输入历史手机号</span>
							<span class="getPensentbtn" style="color: #1b78ce;">《个人信息授权书》</span>
						</div>
						<div>
							<button type="submit" class="get_stipend">免费获得助学奖金</button>
						</div>
					</form>
					<!-- 介绍报考情况 -->
					<div class="Briefing">
						<div>
							<div class="img-box">
								<img src="img/bao.png" alt="">
							</div>
							<div class="title-msg">报考条件 </div>
							<div class="qingkuang">
								<p>①报考有学历要求吗？</p>
								<p>②哪些专业不能报考？</p>
							</div>
						</div>
						<div>
							<div class="img-box">
								<img src="img/bao2.png" alt="">
							</div>
							<div class="title-msg">报考时间 </div>
							<div class="qingkuang">
								<p>①下半年报考时间是？</p>
								<p>②网上报名几号截止？</p>
							</div>
						</div>
						<div>
							<div class="img-box">
								<img src="img/bao3.png" alt="">
							</div>
							<div class="title-msg">报考费用 </div>
							<div class="qingkuang">
								<p>①不同级别报考费多少？ </p>
								<p>②报考需要多少钱？&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
							</div>
						</div>
						<div>
							<div class="img-box">
								<img src="img/bao4.png" alt="">
							</div>
							<div class="title-msg">院校专业 </div>
							<div class="qingkuang">
								<p>①有哪些专业可以报考？ </p>
								<p>②有哪些专业可以推荐？</p>
							</div>
						</div>
						<div>
							<div class="img-box">
								<img src="img/bao5.png" alt="">
							</div>
							<div class="title-msg">报考流程 </div>
							<div class="qingkuang">
								<p>①网上报名的流程是？</p>
								<p>②非本地户籍怎么考？</p>
							</div>
						</div>
						<div>
							<div class="img-box">
								<img src="img/bao6.png" alt="">
							</div>
							<div class="title-msg">报考费用 </div>
							<div class="qingkuang">
								<p>①哪些专业课可不考？&nbsp;&nbsp;&nbsp;</p>
								<p>②有哪些是必考的项目？</p>
							</div>
						</div>
					</div>
					<!-- 期待本科学历 -->
					<div class="benke">
						<div class="tip">
							<img src="img/nin3_02.png" alt="我知道您一直希望有个本科学历">
						</div>
						<!-- 学历提升介绍 -->
						<div class="xue-box">
							<div class="item">
								<div class="left">
									<div><img src="img/num6_05.png" ></div>
									<div class="value">升值加薪</div>
									<div class="value-box">
										高等学历是单位衡量员工的重要方面，直接与考核薪资挂钩
									</div>
								</div>
								<div class="right">
									<img src="img/5c001.png" >
								</div>
							</div>
							<div class="item2">
								<div class="left">
									<img src="img/5c002.png" >
								</div>
								<div class="right">
									<div class="numbox"><img src="img/num5_05.png" ></div>
									<div class="value">永久资产</div>
									<div class="value-box">
										学历属于自己的永久资产让你终身受益
									</div>
								</div>
							</div>
							<div class="item">
								<div class="left">
									<div><img src="img/num4_05.png" ></div>
									<div class="value">考研&评职称</div>
									<div class="value-box">
										拿本科学历+学位双证，从此不再受限
									</div>
								</div>
								<div class="right">
									<img src="img/5c003.png" >
								</div>
							</div>
							<div class="item2">
								<div class="left">
									<img src="img/5c004.png" >
								</div>
								<div class="right">
									<div class="numbox"><img src="img/num3_05.png" ></div>
									<div class="value">求职提升</div>
									<div class="value-box">
										工作需要能力，更需要学历这块敲门砖
									</div>
								</div>
							</div>
							<div class="item">
								<div class="left">
									<div><img src="img/num2_05.png" ></div>
									<div class="value">出国留学</div>
									<div class="value-box">
										国外承认自考证书和成绩
									</div>
								</div>
								<div class="right">
									<img src="img/5c005png.png" >
								</div>
							</div>
							<div class="item2">
								<div class="left">
									<img src="img/5c006.png" >
								</div>
								<div class="right">
									<div class="numbox"><img src="img/num1_05.png" ></div>
									<div class="value">积分落户</div>
									<div class="value-box">
										北京、广东等大城市都是积分落户的，学历越高，分数越高，落户也轻松
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
        
				<!-- 尾部 -->
				<div class="footer">
					<div class="customer-service fied">
						<div class="left kefu">
							<img src="img/kefu.png" alt="">

              <a href="tel:020-82526164">
                <span style="color: #fff;">电话咨询</span>
              </a>
							
						</div>
						<div class="right kefu">
							<img src="img/time.png" alt="">
              <a href="https://www16.53kf.com/webCompany.php?kf_sign=TI4NDMTU1OgxNjExMDkwNDA0NTUzMDA4NzIxODc2NzM%253D&arg=10187673&style=1">
                <span style="color: #fff;">立即抢一千元奖学金</span>
              </a>
							
						</div>
					</div>
					<div class="copyRight">
						<p><span>广州博霖教育科技有限公司</span></p>
						<p><span>粤ICP备19060809号</span></p>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- 弹框 -->
		<!-- 个人信息授权弹框 getResultModel-->
		<div class="motal None">
		</div>
		<div class="getResultModel None" >
			<span class="close" style="font-weight: 300;"></span>
			<h2>个人信息授权书</h2>	
			<div class="msg_box">
				<p>
					尊敬的用户，您选择使用“自动输入历史手机号”功
					能后，您同意本平台在法律允许的范围内，收集您的
					手机号码，您已知晓并同意在您下次浏览广告页面
					时，我们会帮您预先填写您上次输入的历史手机号，
					您的手机号码仅会用于在广告页面的预填充，且只有
					您点击提交按钮之后信息才会传递给广告主商家。
				</p>
			</div>
		</div>
		
		<!-- 手机验证弹框 -->
		<div class="phoneModel None">
			<span class="close" style="font-weight: 300;"></span>
			<p style="color: #333333;padding: 10px 0;font-size: 15px;">手机验证</p>
			<div style="font-size: 12px;padding-bottom: 15px;">
				<span>短信验证码已发送至</span>
				<span class="userphone" style="font-size: 14px;"></span>
			</div>
			<form action="" method="post">
				<div style="position: relative;line-height: 38px;">
					<input type="text" name="ma" class="ma" maxlength="6" value="" placeholder="请输入短信验证码">
					<span style="color: #007AFF;position: absolute;top: 0px;right: 7px;cursor: pointer;font-size: 13px;" class="getMaNum">获取验证码</span>
				</div>
				<input type="submit" value="确定" style="width: 90%;border-radius: 20px;" class="sendreg"/>
			</form>
		</div>
		
		
		<script src="js/jquery2.01.js"></script>
		<script src="ydui/js/ydui.js"></script>
		<script src="js/comment.js"></script>
		<script>
     
      
			// 客服固定在底部
			$(function(){
				$('.kefu').on('click',function(){
					var _53code=document.createElement("script");_53code.src = '//tb.53kf.com/code/code/c762816c46f81ba33560df7feac9ded1/1'; var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(_53code, s);
				})
				$(window).scroll(function(){
					// 页面向下滚动的最小距离时客服框固定定位在底部; fied
					//  滚动高度 + 视口高度 = 文档高度
					// console.log($('.copyRight').position().top)
					
					var copyRight_height = $('.copyRight').height(); //页眉高度
					var doc_scrollTop = $(document).scrollTop(); //页面滚动的高度
					var win_height = $(window).height() //视口高度
					var doc_height = $(document).height(); //页面高度

					// 如果页面滚动高度大于页面高度 减去页面高度时时,设置它为相对定位
					if(doc_scrollTop >= (doc_height - win_height -copyRight_height - $('.customer-service').height())){
						$('.customer-service').removeClass('fied');
					}else{
						$('.customer-service').addClass('fied');
					}
					
				})
				
				// automatic 勾选自动输入历史手机号码
				$('.automatic').on('click',function(){
					
					if(!$(this).hasClass('cur')){
						$(this).addClass('cur')
					}else{
						$(this).removeClass('cur')
					}
				})
				
				// 个人信息弹框
				// 打开事件 关闭事件
				OpenMsg('.getPensentbtn','.getResultModel')
				CloseMsg('.close','.getResultModel')
				
				var dialog = YDUI.dialog;
				var sourceLink  = document.referrer; //获取地址,用于提交数据平台的来源的平台
        
				// 关闭全部弹框
				$('.close').on('click',function(){
					Hide_motai(['.getResultModel','.phoneModel','.motal'])
				})
				//点击免费获取奖学金验证通过发送请求显示验证码弹框  phoneModel
				$('.get_stipend').on('click',function(){
					// 判断单选框是否勾选
					
					var bol1 = isRadioChecked($('.xue'));
					var bol2 = isRadioChecked($('.age'));
					var bol3 = isRadioChecked($('.way'));
					
					var myRegExp = MyRegExp(); //验证对象   userphone usename
					
					var bol5 = myRegExp.isPhone($.trim($('.userphone').val()));
					// var bol4 = myRegExp.isPhone($.trim($('.usename').val()));
					
					var timer = null; //定时器
					var number = 60;
					var ma = "123"; //验证码  
          var stp =  $('.div').offset().top;
          $(document).scrollTop(stp)
                   
          
					if(!bol1){
						dialog.alert('请勾选你最高学历！')
						return false;
					}
					if(!bol2){
						dialog.alert('请勾选你的年龄！')
						return false;
					}
					if(!bol3){
						dialog.alert('请勾选你想要的提升方式！')
						return false;
					}
					if(!$('.usename').val()){
						dialog.alert('请输入姓名！')
						return false;
					}
					if(!bol5){
						dialog.alert('请输入正确的11位手机号码！')
						return false;
					}
					
					if(bol1 && bol2 && bol3 && bol5){
						var phone_data = $.trim($('.userphone').val());
						console.log('可以发送验证码请求了 ！')
						$.post('../../data/autoCode/getCode',{customerPhone:phone_data},function(res){
             			 console.log(res)
             			 ma=res.ma
            })
						
						// 显示手机弹框 手机验证弹框  motal phoneModel
						Show_motai(['.motal','.phoneModel'])
						//显示发送的手机号码 userphone
						$('.phoneModel .userphone').html(strchange($('.name-line .userphone').val()));
						
						timer = setInterval(function(){
							number--;
							if(number<=0){
								number = 60;
								clearInterval(timer);
								$('.getMaNum').css('color','#1b78ce').html('获取验证码')
							}else{
								$('.getMaNum').css('color','#999').html('重新获取('+ number +')')
							}
						},1000)
					}
					
				//点击获取验证码按钮
					$('.getMaNum').on('click',function(){
						if(number != 60){ //说明还在计时间
							return false;
						}
            
            var phone_data2 = $.trim($('.userphone').val());
            console.log('可以发送验证码请求了 ！')
            $.post('../../data/autoCode/getCode',{customerPhone:phone_data2},function(res){
              console.log(res)
              ma=res.ma
            })
            
						timer = setInterval(function(){
							number--;
							if(number<=0){
								number = 60;
								clearInterval(timer);
								$('.getMaNum').css('color','#1b78ce').html('获取验证码')
							}else{
								$('.getMaNum').css('color','#999').html('重新获取('+ number +')')
							}
						},1000)
						
					})
					
					// 提交验证码进行验证操作
					$('.sendreg').on('click',function(){
						// 验证码不可为空
            
						if(!$('.ma').val()){
							dialog.alert('验证码不可为空！')
							return false;
						}
						// 验证码不正确
						if($('.ma').val() != ma){
							dialog.alert('验证码不正确！')
							return false;
						}
						
						if($('.ma').val() === ma){
              //  
             
              var data = {
            	educationNow:$('input[name=xue]:checked').val(),
            	ageGroups:$('input[name=age]:checked').val(),
            	liftingMode:$('input[name=way]:checked').val(),
                customerName:$('input[name=username]').val(),
                customerPhone:$('input[name=userphone]').val(),
                sourceLink:document.referrer ? document.referrer : window.location.href,
                fromPlatform:"百度"
              }
							// ajax 提交
							$.ajax({
                url:"../../data/customerInfromation/insertCustomerInfromation",
                data:data,
                type:"POST",
                success:function(){
                  
                  //获取元素距离顶部的距离
                 /*  var divscrollTop = $('.div').scrollTo();
                  $(document).scrollTo(divscrollTop); */
                  dialog.alert('提交成功，感谢您的回答！');
                  $('.phoneModel').hide();
                  $('.motal').hide();
                  window._agl && window._agl.push(['track', ['success', {t: 3}]])
                },
                error:function(){
                  console.log('提交失败')
                  dialog.alert('提交失败！')
                }
              })
							
							return false;
						}
						
						
						return false;
					})
					
					//关闭弹框清除定时器
					$('.close').on('click',function(){
						clearInterval(timer);
						$('.ma').val("");
						
					})
					
					console.log(bol1,bol2,bol3)
					
					return false;
				})
			})
			
			
		</script>
	</body>
</html>
