<script type="text/javascript" src="../../js/publlic.js"></script>

<ul class="nav-box">
  <li class="">
    <div class="list-title cur">
      <i class="layui-icon layui-icon-friends  q"></i>
      <span>客服管理</span>
      <i class="layui-icon layui-icon-right h"></i>
    </div>
    <div class="box active">
      <div class="list list-active">
        <i class="layui-icon layui-icon-group"></i>
        <a href="#">客户列表</a>
      </div>
      <div class="list">
        <i class="layui-icon layui-icon-group"></i>
        <a href="#">客户列表</a>
      </div>
      <div class="list">
        <i class="layui-icon layui-icon-group"></i>
        <a href="#">客户列表</a>
      </div>
    </div>
  </li>
  <li>
    <div class="list-title">
      <i class="layui-icon layui-icon-friends  q"></i>
      <span>客服管理</span>
      <i class="layui-icon layui-icon-right h"></i>
    </div>
    <div class="box">
      <div class="list">
        <i class="layui-icon layui-icon-group"></i>
        <a href="#">客户列表</a>
      </div>
      <div class="list">
        <i class="layui-icon layui-icon-group"></i>
        <a href="#">客户列表</a>
      </div>
      <div class="list">
        <i class="layui-icon layui-icon-group"></i>
        <a href="#">客户列表</a>
      </div>
    </div>
  </li>
  <li>
    <div class="list-title">
      <i class="layui-icon layui-icon-friends  q"></i>
      <span>客服管理</span>
      <i class="layui-icon layui-icon-right h"></i>
    </div>
    <div class="box">
      <div class="list">
        <i class="layui-icon layui-icon-group"></i>
        <a href="#">客户列表</a>
      </div>
      <div class="list">
        <i class="layui-icon layui-icon-group"></i>
        <a href="#">客户列表</a>
      </div>
      <div class="list">
        <i class="layui-icon layui-icon-group"></i>
        <a href="#">客户列表</a>
      </div>
    </div>
  </li>
</ul>
