blockquote,
body,
html,
button,
td,
th,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
li,
ol,
p,
pre,
table,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-size: 14px;
	line-height: 1.428em;
	font-family: "微软雅黑";
	width: 100%;
}

.clearfix::before,
.clearfix::after {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}

* html .clearfix {
	zoom: 1;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333333;
}

img {
	border: none;
	display: inline-block;
}

span,
a,
img,
input,
select,
button,
i {
	vertical-align: middle;
}

input {
	text-indent: 5px;
	cursor: pointer;
}

button {
	border: none;
	cursor: pointer;
}

select {
	padding: 6px;
}


/*基本结构css*/

.navMain {
	width: 210px;
	position: fixed;
	left: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #6560db;
}
.navMain .info{
	color: #fff;
	text-indent: 1em;
	padding-top:50px;
	padding-bottom: 30px;
	border-bottom: 1px solid #fff;
}
.navMain .info p{
	height: 28px;
	line-height: 28px;
}
.navMain .info h4{
	text-indent: 3em;
	letter-spacing: 2px;
	padding: 10px 0px;
	background-color: #ccc;
	color: #000000;
}
.navMain .nav {
	width: 210px;
}

.navMain .nav li.list {
	line-height: 50px;
	color: #fff;
	position: relative;
	cursor: pointer;
	transition: all 0.4s;
	padding: 0px 10px;
	box-sizing: border-box;
	border-bottom: 1px solid #fff;
}
.navMain .nav li.list:hover{
	background-color: #003399;
}
.navMain .nav li.list img{
	margin-right: 5px;
}
.navMain .nav li.list i.fa-angle-right{
	position: absolute;
	right: 24px;
	top: 15px;
	font-size: 20px;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);		/* IE 9 */
	-webkit-transform: rotate(0deg);	/* Safari and Chrome */
	-o-transform: rotate(0deg);		/* Opera */
	-moz-transform: rotate(0deg);
	transition: all .4s;
}
.navMain .nav li.list i.fa-show{
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);		/* IE 9 */
	-webkit-transform: rotate(90deg);	/* Safari and Chrome */
	-o-transform: rotate(90deg);		/* Opera */
	-moz-transform: rotate(90deg);
}
.navMain .nav li.list a {
	color: #fff;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.containerMain {
	position: absolute;
	overflow-y: scroll;
	overflow-x: auto;
	background-color: #f9faff;
	width: 100%;
}

.containerMain .contentMain {
	width: auto;
	height: auto;
}
.containerMain .contentMain h1{
	font-family:'Hybrid';
	height: 70px;
	line-height: 70px;
	color: #6760db;
	letter-spacing: 2px;
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 30px;
	background-color: #fff;
}
/*定义外部字体*/
@font-face{
    font-family: 'Hybrid';
    src : url('../font/font_GBK_2/GBK_2.TTF');
}

/*二级导航*/
.navMain .second-nav{
	text-indent: 2.5em;
	display: none;
	
}
.navMain .second-nav p{
	background-color: #fff;
	height: 38px;
	line-height: 38px;
	cursor: pointer;
	border-bottom: 1px solid #CCCCCC;
}
.navMain .second-nav p a.active{
	color: #6560db;
}

/*个人信息*/
.containerMain .contentMain .info{
	height: 70px;
	line-height: 70px;
	padding-left: 20px;
	
}
.contentMain .info span.num,.contentMain .info span.ip,.contentMain .info span.name {
	color: #7d77df;
	font-size: 16px;
}
/*服务器基本资料*/
.containerMain .contentMain .server{
	background-color: #FFFFFF;
	background-image: url(../img/bgjxin.png);
	background-repeat: no-repeat;
	height: 123px;
}
