<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>客户管理-客户列表</title>
    <meta name="description" content="博霖教育后台数据管理" />
    <meta name="keywords" content="博霖教育|学历报考中心|学历提升|广东省成人学历报名中心" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="images/x-icon" href="../../img/bolinglink.png">
    <link rel="stylesheet" href="../../frame/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../frame/layui/css/layui.css" />
    <link rel="stylesheet" href="../../plugin/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/customer-list.css" />
    <link rel="stylesheet" type="text/css" href="../../plugin/css/kuCity.css" />

  </head>

  <body>
    <div class="app" id="app">
      <div class="nav-left">
        <div class="logon">
          <img src="../../img/logo.png" alt="">
        </div>
        <div class="left-box">
          <!-- 左侧导航 -->
          <ul class="nav-box">
            <li>
              <div class="list-title">
                <i class="fa fa-cog q" style="font-size:18px"></i>
                <span>系统管理</span>
                <i class="layui-icon layui-icon-right h"></i>
              </div>
              <div class="box">
                <div class="list">
                  <i class="fa fa-comment" style="font-size:18px"></i>
                  <a href="#">公司信息</a>
                </div>
                <div class="list">
                  <i class="fa fa-comment-o" style="font-size:18px"></i>
                  <a href="#">部门信息</a>
                </div>
                <div class="list">
                  <i class="fa fa-deafness" style="font-size:18px"></i>
                  <a href="#">职位授权</a>
                </div>
                <div class="list">
                  <i class="fa fa-key" style="font-size:18px"></i>
                  <a href="#">自定义授权</a>
                </div>
              </div>
            </li>
            <li>
              <div class="list-title">
                 <i class="fa fa-s15 q" style="font-size:18px"></i>
                <span>导入管理</span>
                <i class="layui-icon layui-icon-right h"></i>
              </div>
              <div class="box">
                <div class="list">
                   <i class="fa fa-map" style="font-size:18px"></i>
                  <a href="#">批量导入</a>
                </div>
                <div class="list">
                   <i class="fa fa-map-o" style="font-size:18px"></i>
                  <a href="#">单个录入</a>
                </div>
              </div>
            </li>
            <li>
              <div class="list-title">
                <i class="fa fa-wifi q" style="font-size:18px"></i>
                <span>分配管理</span>
                <i class="layui-icon layui-icon-right h"></i>
              </div>
              <div class="box">
                <div class="list">
                  <i class="fa fa-tags" style="font-size:18px"></i>
                  <a href="#">分配权重设置</a>
                </div>
                <div class="list">
                  <i class="fa fa-tag" style="font-size:18px"></i>
                  <a href="#">指定人员设置</a>
                </div>
              </div>
            </li>
            <li>
              <div class="list-title">
                <i class="fa fa-sticky-note q" style="font-size:18px"></i>
                <span>推广管理</span>
                <i class="layui-icon layui-icon-right h"></i>
              </div>
              <div class="box">
                <div class="list">
                  <i class="fa fa-podcast" style="font-size:18px"></i>
                  <a href="#">来源平台</a>
                </div>
                <div class="list">
                  <i class="fa fa-power-off" style="font-size:18px"></i>
                  <a href="#">推广分配</a>
                </div>
                <div class="list">
                  <i class="fa fa-pencil-square-o" style="font-size:18px"></i>
                  <a href="#">合同管理</a>
                </div>
                <div class="list">
                  <i class="fa fa-pencil-square" style="font-size:18px"></i>
                  <a href="#">数据管理</a>
                </div>
                <div class="list">
                  <i class="fa fa-plug" style="font-size:18px"></i>
                  <a href="#">链接管理</a>
                </div>
                <div class="list">
                  <i class="fa fa-mortar-board" style="font-size:18px"></i>
                  <a href="#">账号管理</a>
                </div>
              </div>
            </li>
            <li>
              <div class="list-title">
                <i class="fa fa-phone-square q" style="font-size:18px"></i>
                <span>客服管理</span>
                <i class="layui-icon layui-icon-right h"></i>
              </div>
              <div class="box">
                <div class="list">
                  <i class="fa fa-address-book" style="font-size:18px"></i>
                  <a href="#">客户管理</a>
                </div>
                <div class="list">
                  <i class="fa fa-address-card" style="font-size:18px"></i>
                  <a href="#">校区映射</a>
                </div>
              </div>
            </li>
            <li class="">
              <div class="list-title cur">                          
                <i class="fa fa-user q" style="font-size:18px"></i>     
                <span>客户管理</span>
                <i class="layui-icon layui-icon-right h"></i>
              </div>
              <!--  active选项激活类 list-active子选项激活类  -->
              <div class="box ">
                <div class="list ">
                  <i class="fa fa-user-circle" style="font-size:18px"></i>
                  <a href="#">客户列表</a>
                </div>
                <div class="list">
                  <i class="fa fa-address-card" style="font-size:18px"></i>
                  <a href="#">私海客户</a>
                </div>
                <div class="list">
                  <i class="fa fa-male" style="font-size:18px"></i>
                  <a href="#">公海客户</a>
                </div>
                <div class="list">
                  <i class="fa fa-street-view" style="font-size:18px"></i>
                  <a href="#">预约客户</a>
                </div>
                <div class="list">
                  <i class="fa fa-user-circle-o" style="font-size:18px"></i>
                  <a href="#">上门客户</a>
                </div>
                <div class="list">
                  <i class="fa fa-user-o" style="font-size:18px"></i>
                  <a href="#">定金客户</a>
                </div>
                <div class="list">
                  <i class="fa fa-user-secret" style="font-size:18px"></i>
                  <a href="#">成交客户</a>
                </div>
                <div class="list">
                  <i class="fa fa-wheelchair-alt" style="font-size:18px"></i>
                  <a href="#">无效客户</a>
                </div>
                <div class="list">
                  <i class="fa fa-vcard-o" style="font-size:18px"></i>
                  <a href="#">客户轨迹</a>
                </div>
              </div>
            </li>
            <li>
              <div class="list-title">
                <i class="fa fa-tv q" style="font-size:18px"></i> 
                <span>报表管理</span>
                <i class="layui-icon layui-icon-right h"></i>
              </div>
              <div class="box">
                <div class="list">
                  <i class="fa fa-sticky-note-o" style="font-size:18px"></i>
                  <a href="#">营销报表</a>
                </div>
                <div class="list">
                  <i class="fa fa-sticky-note" style="font-size:18px"></i>
                  <a href="#">客服报表</a>
                </div>
                <div class="list">
                 <i class="fa fa-pencil-square-o" style="font-size:18px"></i>
                  <a href="#">校区销售报表</a>
                </div>
                <div class="list">
                  <i class="fa fa-pencil-square" style="font-size:18px"></i>
                  <a href="#">个人销售报表</a>
                </div>
                <div class="list">
                  <i class="fa fa-folder-open" style="font-size:18px"></i>
                  <a href="#">外呼报表</a>
                </div>
              </div>
            </li>
            <li>
              <div class="list-title">
                <i class="fa fa-sign-language q" style="font-size:18px"></i> 
                <span>排班管理</span>
                <i class="layui-icon layui-icon-right h"></i>
              </div>
              <div class="box">
                <div class="list">
                  <i class="fa fa-tachometer" style="font-size:18px"></i>
                  <a href="#">班次管理</a>
                </div>
                <div class="list">
                  <i class="fa fa-suitcase" style="font-size:18px"></i>
                  <a href="#">人员排班</a>
                </div>
              </div>
            </li>
            <li>
              <div class="list-title">
                 <i class="fa fa-universal-access q" style="font-size:18px"></i> 
                <span>人员映射</span>
                <i class="layui-icon layui-icon-right h"></i>
              </div>
              <div class="box">
                <div class="list">
                  <i class="fa fa-window-restore" style="font-size:18px"></i>
                  <a href="#">TQ管理</a>
                </div>
                <div class="list">
                  <i class="fa fa-building" style="font-size:18px"></i>
                  <a href="#">手机管理</a>
                </div>
              </div>
            </li>
            <li>
              <div class="list-title">
                <i class="fa fa-pencil-square q" style="font-size:18px"></i> 
                <span>统计分析</span>
                <i class="layui-icon layui-icon-right h"></i>
              </div>
              <div class="box">
                <div class="list">
                  <i class="fa fa-gift" style="font-size:18px"></i>
                  <a href="#">客户数据漏斗分析</a>
                </div>
                <div class="list">
                  <i class="fa fa-picture-o" style="font-size:18px"></i>
                  <a href="#">推广数据漏斗分析</a>
                </div>
                <div class="list">
                  <i class="fa fa-industry" style="font-size:18px"></i>
                  <a href="#">客服数据漏斗分析</a>
                </div>
                <div class="list">
                  <i class="fa fa-pie-chart" style="font-size:18px"></i>
                  <a href="#">链接来源分析</a>
                </div>
                <div class="list">
                  <i class="fa fa-paw" style="font-size:18px"></i>
                  <a href="#">关键词来源分析</a>
                </div>
              </div>
            </li>
          </ul>

        </div>
      </div>
      <div class="mian-content">
        <div class="right-box" id="main">
          <!-- 右侧内容头部面包屑导航 -->
          <div class="topNav">
            <!-- <i class="layui-icon layui-icon-align-left " title=""></i> -->
            <img src="../../img/shensuo.png" title="点击收缩左侧导航" class="toggle-nav" alt="" style="cursor: pointer;width: 54px">
            <span class="layui-breadcrumb">
              <a href="../index/index.html">首页</a>
              <a href="#">客服管理</a>
              <a href="#">客服列表</a>
            </span>
            <div class="box-right" style="float: right;height: 100%;padding-right: 20px">
              <span class="userSet" style="margin-right: 10px;display: inline-block;position: relative;text-align: center;">
                小飞侠<i class="layui-icon layui-icon-triangle-d" style="font-size: 16px;margin-left: 10px;"></i>
                <div class="ul-set">
                  <ul>
                    <li><span>个人设置</span></li>
                    <li><a href="../login/login .html" style="color: #fff;">退出</a></li>
                  </ul>
                </div>
              </span>
            </div>
          </div>
          <!-- 操作表格 -->
          <div class="operate-table" id="tb">
            <button class="layui-btn" onclick="addUSer()">
              <i class="layui-icon">&#xe608;</i> 新增
            </button>
            <button class="layui-btn" onclick="javascript:editUSer()">
              <i class="layui-icon layui-icon-upload"></i> 编辑
            </button>
            <button class="layui-btn" onclick="upFile()">
              <i class="layui-icon layui-icon-upload"></i> 导入
            </button>
            <button class="layui-btn layui-btn-primary" onclick="javascript:leadingOut()">
              <i class="layui-icon layui-icon-upload-drag"></i> 导出
            </button>
          </div>
          <!-- 右侧内容 -- 表单查询 -->
          <div class="search-box">
            <form action="" method="post" class="myform" layui-form>
              <div class="layui-form-item layui-inline">
                <span>平台：</span>
                <input id="fromPlatform" class="easyui-combobox" name="fromPlatform" placeholder="请选择平台" />
              </div>
              <div class="layui-form-item layui-inline">
                <span style="margin-left: 15px;">性别：</span>
                <select id="sexs" class="easyui-combobox" name="sex" style="width:200px;">
                  <option value=""></option>
                  <option value="男">男</option>
                  <option value="女">女</option>
                </select>
              </div>
              <div class="layui-form-item layui-inline">
                <span style="margin-left: 15px;">所在地：</span>
                <input type="text" name="customerLocal" class="kuCity" placeholder="请选择所在地">
              </div>
              <div class="layui-inline layui-form-item">
                <span>年龄段：</span>
                <select class="easyui-combobox" name="ageGroups" style="width:200px;">
                  <option value=""></option>
                  <option value="18-23">18-23</option>
                  <option value="24-29">24-29</option>
                  <option value="30-35">30-35</option>
                  <option value="35以上">35以上</option>
                </select>
              </div>
              <div class="layui-form-item layui-inline">
                <span style="margin-left: 15px;">时间段：</span>
                <input type="text" placeholder="请选择开始时间" autocomplete="off" name="startTime" id="stratTime" style="margin-right: 0px;" />
                <span>——</span>
                <input type="text" name="endTime" placeholder="请选择结束时间" autocomplete="off" id="endTime">
              </div>
              <div class="layui-form-item layui-inline">
                <button type="button" class="layui-btn search searchBtn">查询</button>
                <button type="reset" class="layui-btn search">重置</button>
              </div>
            </form>
          </div>
          
          
          <!-- 右侧内容 -- 数据表格显示 -->
          <div class="data-table">
            <table class="easyui-datagrid" id="tt" rownumbers="false" data-options="url:'../../js/data.json',fitColumns:true,singleSelect:false,method:'get',loadMsg:'数据加载中...',
                    pagination:true,selectOnCheck:true,selectOnCheck:true,checkOnSelect:false,fixed:false"
              toolbar="#tb">
              <thead>
                <tr>
                  <th data-options=" field: 'ck',checkbox:true"></th>
                  <th data-options="field: 'customerId' " width="18%" sortable="true">用户Id</th>
                  <th data-options="field: 'customerName' " width="19%">用户姓名</th>
                  <th data-options="field: 'sex' " width="10%">性别</th>
                  <th data-options="field: 'customerPhone',align: 'center' " width="17%">用户手机</th>
                  <th data-options="field: 'updateTime',align: 'center' " width="19%" sortable="true">更新时间</th>
                  <th data-options="field: 'status',align: 'center' " width="16%">状态</th>
                </tr>
              </thead>
            </table>
            <div class="page ">
              <button class="layui-btn ">上一页</button>
              <button class="layui-btn ">下一页</button>
            </div>
          </div>
          
          <!-- 用户信息框 -->
          <div class="userinfo ">
            <h2>用户信息<i class="layui-icon layui-icon-close close-userinfo" style="font-size: 30px; " title="点击关闭 "></i></h2>
            <ul>
              <li>
                <span class="y ">用户Id&nbsp;:</span>
                <span class="customerId"></span>
              </li>
              <li>
                <span class="y ">用户姓名&nbsp;:</span>
                <span class="customerName"></span>
              </li>
              <li>
                <span class="y ">用户手机&nbsp;:</span>
                <span class="customerPhone"></span>
              </li>
              <li>
                <span class="y">性别&nbsp;:</span>
                <span class="sex"></span>
              </li>
              <li>
                <span class="y ">用户年龄段&nbsp;:</span>
                <span class="ageGroups"></span>
              </li>
              <li>
                <span class="y ">真实年龄&nbsp;:</span>
                <span class="age"></span>
              </li>
              <li>
                <span class="y ">用户所在地&nbsp;:</span>
                <span class="customerLocal"></span>
              </li>
              <li>
                <span class="y ">现有学历&nbsp;:</span>
                <span class="educationNow"></span>
              </li>
              <li>
                <span class="y ">提升目标&nbsp;:</span>
                <span class="liftingMode"></span>
              </li>
              <li>
                <span class="y ">提升目的&nbsp;:</span>
                <span class="objective"></span>
              </li>
              <li>
                <span class="y ">离开学校时间&nbsp;:</span>
                <span class="leavingSchoolTime"></span>
              </li>
              <li>
                <span class="y ">爱好&nbsp;:</span>
                <span class="likeMajor"></span>
              </li>
              <li>
                <span class="y ">来源平台&nbsp;:</span>
                <span class="fromPlatform"></span>
              </li>
              <li>
                <span class="y ">来源链接&nbsp;:</span>
                <span class="sourceLink"></span>
              </li>
              <li>
                <span class="y ">更新时间&nbsp;:</span>
                <span class="updateTime"></span>
              </li>
              <li>
                <span class="y ">用户状态&nbsp;:</span>
                <span class="status"></span>
              </li>
              <li>
                <span class="y ">客户备注&nbsp;:</span>
                <span class="description"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- 新增客户 -->
    <div class="addUSer win" title="新增客户" style="padding:0 20px 20px 20px;width: 600px;height:620px;overflow:auto;display: none;">
      <form id="addUSer" class="layui-form addFrom" style="padding-top: 20px;" novalidate="true">
        <div class="layui-form-item">
          <label class="layui-form-label">用户名&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text" name="customerName" placeholder="请输入用户名" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">手机号&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text" name="customerPhone" maxlength="11" data-options="validType:'phoneNum'" placeholder="请输入手机号码"
              autocomplete="off" class="layui-input easyui-validatebox">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">性别&nbsp;:</label>
          <div class="layui-input-block">
            <select name="sex" lay-verify="">
              <option value="">请选择</option>
              <option value="男">男</option>
              <option value="女">女</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">年龄&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text" name="age" lay-verify="" maxlength="2" placeholder="请输入年龄" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">所在地&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text" name="customerLocal" lay-verify="" placeholder="请输入所在地" autocomplete="off" class="layui-input kuCity2">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">现在有学历&nbsp;:</label>
          <div class="layui-input-block">
            <select name="educationNow" lay-verify="">
              <option value="">请选择学历</option>
              <option value="初中">小学</option>
              <option value="初中">初中</option>
              <option value="高中">高中</option>
              <option value="大专">大专</option>
              <option value="本科">本科</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">提升目标&nbsp;:</label>
          <div class="layui-input-block">
            <select name="liftingMode" lay-verify="">
              <option value="">请选择学历</option>
              <option value="初中">初中</option>
              <option value="高中">高中</option>
              <option value="大专">大专</option>
              <option value="本科">本科</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item ">
          <label class="layui-form-label ">来源平台&nbsp;:</label>
          <div class="layui-input-block ">
            <input type="text " name="fromPlatform" lay-verify=" " placeholder="请输入来源的平台 " autocomplete="off " class="layui-input ">
          </div>
        </div>
        <div class="layui-form-item ">
          <label class="layui-form-label ">来源链接&nbsp;:</label>
          <div class="layui-input-block ">
            <input type="text " name="sourceLink" lay-verify=" " data-options="validType:'url'" placeholder="请输入来源链接 "
              autocomplete="off " class="layui-input easyui-validatebox">
          </div>
        </div>
        <div class="layui-form-item ">
          <label class="layui-form-label ">客户状态&nbsp;:</label>
          <div class="layui-input-block ">
            <input type="text " name="status" lay-verify=" " placeholder="请输入客户状态 " autocomplete="off " class="layui-input ">
          </div>
        </div>
        <div class="layui-form-item ">
          <label class="layui-form-label ">备注&nbsp;:</label>
          <div class="layui-input-block ">
            <textarea name="description" placeholder="请输入用户备注信息 " class="layui-textarea "></textarea>
          </div>
        </div>
        <div style="text-align: center;padding: 20px 20px 40px 20px ">
          <button type="button" class="layui-btn addSave ">保存</button>
          <button type="reset" class="layui-btn reset">取消</button>
        </div>
      </form>
    </div>

    <!-- 编辑用户 -->
    <div class="editUser win" title="编辑客户" style="padding:0 20px 20px 20px;width: 600px;height:620px;overflow:auto;display: none;">
      <form id="editUser" class="layui-form editFrom" style="padding-top: 20px;" novalidate="true">
        <div class="layui-form-item">
          <label class="layui-form-label">用户名&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text" name="customerName" placeholder="请输入用户名" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">用户Id&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text" name="customerId" placeholder="请输入用id" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">手机号&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text" name="customerPhone" maxlength="11" data-options="validType:'phoneNum'" placeholder="请输入手机号码"
              autocomplete="off" class="layui-input easyui-validatebox">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">性别&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text" name="sex" lay-verify="" maxlength="1" placeholder="请输入性别" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">年龄段&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text" name="ageGroups" placeholder="请输入年龄段" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">年龄&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text" name="age" lay-verify="" maxlength="2" placeholder="请输入年龄" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">所在地&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text" name="customerLocal" lay-verify="" placeholder="请输入所在地" autocomplete="off" class="layui-input kuCity2">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">现在有学历&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text" name="educationNow" lay-verify="" maxlength="6" placeholder="请输入学历" autocomplete="off"
              class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">提升目标&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text" name="liftingMode" lay-verify="" maxlength="6" placeholder="请输入学历" autocomplete="off"
              class="layui-input">
          </div>
        </div>
        <div class="layui-form-item ">
          <label class="layui-form-label ">提升目的&nbsp;:</label>
          <div class="layui-input-block ">
            <input type="text " name="objective" placeholder="请输入提升目的" autocomplete="off " class="layui-input">
          </div>
        </div>
        <div class="layui-form-item ">
          <label class="layui-form-label ">来源平台&nbsp;:</label>
          <div class="layui-input-block ">
            <input type="text " name="fromPlatform" lay-verify=" " placeholder="请输入来源的平台 " autocomplete="off " class="layui-input ">
          </div>
        </div>
        <div class="layui-form-item ">
          <label class="layui-form-label ">离开学校时间&nbsp;:</label>
          <div class="layui-input-block ">
            <input type="text " name="leavingSchoolTime" lay-verify="" placeholder="请输入离开学校时间" autocomplete="off " id="editleavingSchoolTime"
              class="layui-input leavingSchoolTime">
          </div>
        </div>
        <div class="layui-form-item ">
          <label class="layui-form-label ">更新日期&nbsp;:</label>
          <div class="layui-input-block ">
            <input type="text " name="updateTime" lay-verify="" placeholder="请输入更新日期" autocomplete="off " id="updateTime"
              class="layui-input">
          </div>
        </div>
        <div class="layui-form-item ">
          <label class="layui-form-label ">来源链接&nbsp;:</label>
          <div class="layui-input-block ">
            <input type="text " name="sourceLink" lay-verify=" " data-options="validType:'url'" placeholder="请输入来源链接 "
              autocomplete="off " class="layui-input easyui-validatebox">
          </div>
        </div>
        <div class="layui-form-item ">
          <label class="layui-form-label ">爱好&nbsp;:</label>
          <div class="layui-input-block ">
            <input type="text " name="likeMajor" placeholder="请输入爱好" autocomplete="off " class="layui-input">
          </div>
        </div>
        <div class="layui-form-item ">
          <label class="layui-form-label ">客户状态&nbsp;:</label>
          <div class="layui-input-block">
            <input type="text " name="status" lay-verify=" " placeholder="请输入客户状态 " autocomplete="off " class="layui-input ">
          </div>
        </div>
        <div class="layui-form-item ">
          <label class="layui-form-label ">备注&nbsp;:</label>
          <div class="layui-input-block ">
            <textarea name="description" placeholder="请输入用户备注信息" class="layui-textarea "></textarea>
          </div>
        </div>
        <div style="text-align: center;padding: 20px 20px 40px 20px ">
          <button type="button" class="layui-btn editSave ">保存</button>
          <button type="reset" class="layui-btn reset">取消</button>
        </div>
      </form>
    </div>

    <!-- 导入Excel文件 -->
    <div class="upExcel" title="导入Excel文件" style="padding: 20px 30px 30px 30px;text-align: center;display: none;">
      <form id="questionTypesManage" method="post" enctype="multipart/form-data">
        <div style="padding-top: 10px;">
          选择Excel文件 &nbsp;<span style="color: red;font-weight: 800;">*</span>：　
          <input id="uploadExcel" name="uploadExcel" type="file" style="width:200px">
        </div>
        <div style="padding-top: 30px;">
          <button type="button" class="layui-btn" onclick="uploadExcels()">导入文件</button>
        </div>
      </form>
    </div>

    <script src="../../plugin/jquery.min.js "></script>
    <script src="../../plugin/jquery.easyui.min.js "></script>
    <script src="../../plugin/easyui-lang-zh_CN.js "></script>
    <script src="../../frame/layui/layui.all.js "></script>
    <script src="../../js/publlic.js "></script>
    <script src="../../plugin/kuCity.js "></script>
    <script src="../../plugin/json_to_Excel.js"></script>
    <script>
     
      // 选择平台

      $('#fromPlatform').combobox({
        url: '../../js/pingtai.json',
        valueField: 'id',
        textField: 'text',
        method: 'get'
      });
      // 所在地  kuCity2
      $('.kuCity').kuCity();
      $('.kuCity2').kuCity();

      // 选择时间段  stratTime endTime
      layui.use('laydate', function() {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
          elem: '#stratTime', //开始时间
          done: function(value, date, endDate) {

          }
        });
        laydate.render({
          elem: '#endTime', //结束时间
          done: function(value, date, endDate) {
            console.log(value); //得到日期生成的值，如：2017-08-18
            //比较开始时间
            var start = new Date($('#stratTime').val());
            var end = new Date($('#endTime').val());

            if (end < start) {
              $.messager.alert('提示', '结束时间不可小于开始时间');
              $("#endTime ").val(" ")
            }

          }
        });
        // leavingSchoolTime updateTime
        laydate.render({
          elem: '#leavingSchoolTime', //离开学校时间
        });
        laydate.render({
          elem: '#updateTime', //更新日期
        });
        laydate.render({
          elem: '#editleavingSchoolTime', //离开学校时间
        });

      });

      // 提交表单查询
      $('.searchBtn').on('click', function() {
        //获取表单所有字段值 {}
        var serializeObjectData = serializeObject($('.myform'));
        // console.log(serializeObjectData.fromPlatform)
        $('.myform').form('submit', {
          url: "js/data.json ", //请求的地址
          onSubmit: function() {
            // do some check    

            var bol = Object.values(serializeObjectData).every(function(item, index) { //判断所有的字段是否为空
              return item == "";
            });
            if (bol) {
              $.messager.alert('提示', '查询字段不可为空！');
              return false;
            }
            if ((!serializeObjectData.startTime && serializeObjectData.endTime) || (serializeObjectData.startTime &&
                !serializeObjectData.endTime)) {
              $.messager.alert('提示', '请选择完整的时间段');
              return false;
            }

            if (new Date($('#stratTime').val()) > new Date($('#endTime').val())) {
              $.messager.alert('提示', '结束时间不可小于开始时间');
              return false;
            }

            return true;
          },
          success: function(res) {
            //数据提交成功更新数据表格
            console.log(res);

            $("#tt ").datagrid("reload"); //更新表格
          }
        })
      })

      // 关闭用户信息弹框
      $('.close-userinfo').on('click', function() {
        $('.userinfo').animate({
          right: -620
        })
      })
      $('.userinfo').mouseleave(function() {
        $(this).animate({
          right: -620
        })
      });
      // 操作数据表格
      $('#tt').datagrid({
        onCheck: function() {
          alert('勾选一行了')
        },
        onClickCell: function(rowIndex, field, value) { //点击单元格
          console.log(rowIndex, field, value);
          //获取一行数据
          var row = $('#tt').datagrid('getRows')[rowIndex];
          console.log(row)
          if (field == 'customerName') { //判断是否是姓名的单元格
            // 把一行数据放到详情弹框中
            if (row) {
              // console.log(row)

              $('.customerId').text(row.customerId);
              $('.customerName').text(row.customerName);
              $('.customerPhone').text(row.customerPhone);
              $('.sex').text(row.sex);
              $('.ageGroups').text(row.ageGroups);
              $('.age').text(row.age);
              $('.customerLocal').text(row.customerLocal);
              $('.educationNow').text(row.educationNow);
              $('.liftingMode').text(row.liftingMode);
              $('.objective').text(row.objective);
              $('.likeMajor').text(row.likeMajor);
              $('.fromPlatform').text(row.fromPlatform);
              $('.sourceLink').text(row.sourceLink);
              $('.leavingSchoolTime').text(row.leavingSchoolTime)
              $('.updateTime').text(row.updateTime);
              $('.status').text(row.status);
              $('.description').text(row.description);


              $('.userinfo').animate({ //显示信息框
                right: 5
              })
            }

          }
        }
      });
      // 新增客户
      function addUSer() {
        $('.addUSer').window({
          width: 600,
          height: 610,
          modal: true
        });
        $('.addSave').on('click', function() {
          $('#addUSer').form('submit', {
            url: 'js/data.json',
            novalidate: true,
            ajax: true,
            method: 'post',
            onSubmit: function() {
              return $(this).form('validate'); //验证表单
            },
            success: function(data) {
              $.messager.alert('提示', data, 'info', function() {
                $('.addUSer').window('close');
                window.location.reload();
              });
            }
          });
        })
        $('.reset').click(function() {
          $('.addUSer').window('close')
        })

      }


      // 扩展验证手机号码
      $.extend($.fn.validatebox.defaults.rules, {
        phoneNum: { //验证手机号  
          validator: function(value, param) {
            return /^1[3-8]+\d{9}$/.test(value);
          },
          message: '请输入正确的手机号码。'
        }
      })

      //编辑用户
      function editUSer() {
        //获取所有选中的行
        var rows = $('#tt').datagrid('getSelections');
        console.log(rows)
        if (rows.length == 0) {
          $.messager.alert('警告', '请勾选一条数据');
          return false;
        } else if (rows.length > 1) {
          $.messager.alert('警告', '只能勾选一行数据');
          return false;
        } else {
          // console.log(rows[0].age)  //editUser
          console.log(rows[0])
          //打开表单弹框
          $('.editUser').window({
            width: 600,
            height: 610,
            modal: true
          });
          //对表单赋值
          $('.editUser input[name=customerId]').val(rows[0].customerId);
          $('.editUser input[name=customerName]').val(rows[0].customerName);
          $('.editUser input[name=customerPhone]').val(rows[0].customerPhone);
          $('.editUser input[name=sex]').val(rows[0].sex);

          console.log(rows[0].sex)
          $('.editUser input[name=ageGroups]').val(rows[0].ageGroups);
          $('.editUser input[name=customerLocal]').val(rows[0].customerLocal);
          $('.editUser input[name=educationNow]').val(rows[0].educationNow);
          $('.editUser input[name=objective]').val(rows[0].objective);
          $('.editUser input[name=liftingMode]').val(rows[0].liftingMode);
          $('.editUser input[name=leavingSchoolTime]').val(rows[0].leavingSchoolTime);
          $('.editUser input[name=likeMajor]').val(rows[0].likeMajor);
          $('.editUser input[name=fromPlatform]').val(rows[0].fromPlatform);
          $('.editUser input[name=updateTime]').val(rows[0].updateTime);
          $('.editUser input[name=status]').val(rows[0].status);
          $('.editUser textarea[name=description]').val(rows[0].description);
          $('.editUser input[name=sourceLink]').val(rows[0].sourceLink);
          $('.editUser input[name=age]').val(rows[0].age);


          $('.editSave').on('click', function() {
            $('#editUser').form('submit', {
              url: 'js/data.json',
              novalidate: true,
              ajax: true,
              method: 'post',
              onSubmit: function() {
                return $(this).form('validate'); //验证表单
              },
              success: function(data) {
                $.messager.alert('提示', data, 'info', function() {
                  $('.addUSer').window('close');
                  window.location.reload();
                });
              }
            });
          })


          $('.reset').click(function() {
            $('.editUser').window('close')
          })
        }


      }
      //导入文件
      function upFile() {
        $('.upExcel').window({
          width: 600,
          height: 300,
          modal: true
        });
      }

      function uploadExcels() {
        //提交表单
        $('#questionTypesManage').form('submit', {
          url: 'js/data.json',
          novalidate: true,
          ajax: true,
          method: 'post',
          onSubmit: function() {
            //得到上传文件的全路径
            // var filevalue = $('#uploadExcel').val();
            var fileDir = $("#uploadExcel").val();
            // 获取类型

            console.log(fileDir)
            var suffix = fileDir.substr(fileDir.lastIndexOf(".")).toLowerCase();
            if ("" == fileDir) {
              $.messager.alert('警告', '选择需要导入的Excel文件！');
              return false;
            }
            if (".xls" != suffix && ".xlsx" != suffix && ".exe" != suffix) {
              $.messager.alert('警告', '选择Excel格式的文件导入！');
              $('#uploadExcel').val("");
              return false;
            }
          },
          success: function(data) {
            $.messager.alert('提示', data, 'info', function() {
              $('.upExcel').window('close');
              window.location.reload();
            });
          }
        });

        return true;
      }
      //导出Excel
      function leadingOut() {
        //获取表格所有数据
        var rows = $("#tt").datagrid("getRows"); //获取当前页的所有行数据
        var getCheckedDataRow = $("#tt").datagrid("getChecked"); //获取checkbox勾选中的的所有行数据
        console.log(getCheckedDataRow.length);
        var getCheckedDataRowIDs = [];
        var option = {};
        if (getCheckedDataRow.length != 0) {
          //收集所有的数据id
          for (var i = 0; i < getCheckedDataRow.length; i++) {
            getCheckedDataRowIDs.push(1)
          }
          console.log(getCheckedDataRowIDs);
          option.fileName = 'excel';
          option.datas = option.datas = [{
              sheetData: rows,
              sheetName: 'sheet',
              columnWidths: ['100'],
              sheetHeader: ['用户Id', '用户姓名', '性别', '用户手机', '用户年龄段', '用户真实年龄', '用户所在地',
                '现有学历', '提升目标', '提升目的', '爱好', '来源平台', '来源链接', '更新日期', '离开学校时间', '用户备注', '用户状态',
              ]
            },
            {
              sheetData: rows
            }
          ];
          var toExcel = new ExportJsonExcel(option);
          toExcel.saveExcel();
        } else {
          $.messager.alert('提示', '请勾选您需要导出的数据！')
        }
      }
    </script>
  </body>

</html>
