.content-list .title-line {
	position: relative;
	top: 8px;
	width: 121px;
	height: 40px;
	line-height: 40px;
	border-bottom: 3px solid #3d88ff;
	font-size: 20px;
	color: #333333;
}

.radiocheck {
	/*background: url(img/radio2.png) no-repeat center center;*/
}

.zhuyi {
	color: #fe3f4c;
}

.content-list p {
	padding: 11px 0px;
}

.content-list .myTextarea {
	width: 100%;
	height: 200px;
	padding: 10px;
	overflow-y: auto;
	border: 1px solid #999999;
	box-sizing: border-box;
}
.checkRadioss {
	position: relative;
	width: 100%;
	height: 30px;
}

.radioimg,
.spanbox {
	float: left;
}

.radioimg {
	margin: 0px 10px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin-top: 7px;
	position: relative;
	background: url(../img/radio1.png) no-repeat 2px 3px;
}
.radioimg input{
	left: 4px;
	position: absol
	top: 5px;
	opacity: 0;
	filter: alpha(opacity=0);
}
.radioimg img {
	margin-top:3px;
	margin-left: 2px;
	display: none;
}
.radioimg .img2{
	margin-top: 0px;
}
.radioimg img.show{
	display: block;
}
.hp {
	height: 32px;
	line-height: 32px;
}


/*浮动广告和辅助功能*/

.moreRadio {
	height: 30px;
	margin-top: 20px;
}

.moreRadio .sp,
.moreRadio .r {
	float: left;
}

.moreRadio .sp {}

.moreRadio .r {
	width: 20px;
	height: 20px;
	margin-left: 8px;
	background: url(../img/radio1.png) no-repeat 0px 4px;
}
